[2016-07-06 11:10] daphshez opened #1 "Map of bus stops that are connected to train stations"
As part of checking bus\train connectivity for 15 minutes, we want to understand what parts of the country are easily accessible from train stations.

The idea is
1.  find bus stops that are near train stations
2.  find all routes that stop in those stops, and see which other stops their reach

I  have initial results for this created with code in [my old repository](https://github.com/daphshez/ka

[2016-07-06 11:51] daphshez opened #2 "GTFS Route Stories"
I have written [some code](https://github.com/hasadna/open-bus/blob/master/gtfs/parser/route_stories.py) that creates "route stories".

Route stories can be calculated from stop_times in GTFS, but they are much more compressed (about 6MB of a text file instead for a few hundreds in the original file), and they are helpful for analysis. [Here's a Google Doc](https://drive.google.com/open?id=1FoS9wh

[2016-07-07 10:50] yaron1000 commented on #1
hi think that  tasks 1, can been done
if you add new column distance from the station  to the table  its should be easy to set Color code
2,3 can been done with arcgis online(not with a good user interface-many layer)
I guess  that with a Paid Version ArcGIS Online all of this task can been done(i only use arcgis desktop)

[2016-07-07 15:29] daphshez commented on #1
@yaron1000
Sorry I wasn't very specific on why I thought I wanted to move over from ArcGID Online.

The main reason is the number of features. I think there are about ~15-20K bus stops connected to train stations. AGOL actually complains when you try to import more than 1000 features. The current map includes about 3000 stops and it works. I guess I can try to generate a map with all the stops and

[2016-07-12 09:30] daphshez opened #4 "[Transferred from GitLab] Implement a function to extract bus stops for a given route"
Need to implement a function which gets a bus route + departure stop and returns a list of stops for that route.

Originally posted by @johananl

[2016-07-12 09:37] daphshez opened #5 "[Transferred from GitLab] Creating GTFS DB"
[Originally posted by @nitzangur ]

A basic scheme is now available under [gtfs/](https://github.com/hasadna/open-bus/tree/master/gtfs).

Next steps:

Scheme level:

1. Validate index-creation syntax.
2. Deside which indexes are wanted. 3 Create enums for relevant fields (inline comments).
3. Make sure type-sizes are fine.
4. Consider using TinyInt instead of INT when relevant.
5. Check requested

[2016-07-12 10:11] daphshez opened #6 "Simplify shapes"
GTFS shape.txt contains a list of coordinates for transport routes.

These lists aren't efficient for drawing the shape on the map. They are over-specified (have too many points). See for example [this map of line 28א in Jerusalem](https://www.google.com/fusiontables/DataSource?docid=1GIi593kSHEwaJ878DfcmnNEZiluDzBVU8dubcK5A) (picked at random).

This is a problem if want to to presents the lines

[2016-07-13 16:48] daphshez commented on #1
There's a new version of the train station access map here:

http://www.arcgis.com/home/item.html?id=4eb7fc3074244295b7d4a6bf82c0da7d

The code for generating it is currently checked in under the kavrazif branch.

I think this basically solves the requests from 15minutes for now, so I am marking this issue as closed.

[2016-07-13 16:48] #1 closed

[2016-07-13 17:16] nitzangur commented on #5
A valid scheme was uploaded in commit 25ed52cf0e54d63a78a332bd46f4b47b3d442946.
Postgresql DB is available under the same server as the SIRI-related DB (see [here](https://github.com/hasadna/open-bus/blob/master/example.py#L8)). DB name: gtfs.

[2016-07-13 18:58] daphshez commented on #5
Are we planning to override the GTFS data on every import or do we want to accumulate it over time?

I think accumulation makes sense for analysis but it means the import script has to be more clever than the current script.

E.g. in the calendar table, every GTFS service only have future dates in the start_date field. The import script will have to recognise that this is the same old service and

[2016-07-13 19:11] daphshez commented on #1
For future reference,[ the data files for the map layers are here](https://github.com/daphshez/openbus_data/tree/master/train_access_map_300m)

[2016-07-13 20:26] nitzangur commented on #5
There is an option to exclude fields from the history table. If I get it right - excluding a field (e.g. the start_date field) means it won't create separated history records. Bottom line: the current import script (once it works) should do the job.
See: http://ebean-orm.github.io/docs/features/history

[2016-07-14 00:06] johananl commented on #4
Should this function query the DB or CSV files?
Also, do we have a running DB with sample data already?

[2016-07-14 00:15] daphshez commented on #4
see [this issue](https://github.com/hasadna/open-bus/issues/5) for the status of the GTFS DB. I believe the short version is that the database is ready but the load script still needs updating.

Whether DB or CSV should be used depend on what you need this for.

It's not a problem to add write a function that finds it using the [GTFS class](https://github.com/hasadna/open-bus/blob/master/gtfs/pars

[2016-07-17 14:53] daphshez opened #7 "Which bus stops serve train stations?"
For the project with 15minute where we evaluate transfers between busses and trains, it's important to know which bus stops are within walking distance to train stations.

For now we just use a simplification, and use stops that are up to 300m in straight line. However of course straight line distance is often much shorter than walking distance, and we get many more stops that we should.

We had a

[2016-07-19 09:36] daphshez commented on #7
And here's an even better example to why Google's walking directions aren't that helpful. Admittedly Ofakim train station was only opened 6 months ago.

<img width="478" alt="ofakim" src="https://cloud.githubusercontent.com/assets/250509/16945301/527f6484-4d9c-11e6-9141-effb48ec630e.PNG">

[2016-07-20 15:46] daphshez commented on #7
Some good news and some bad news on this issue.

**Good news**:
[Graphopper](https://graphhopper.com) gives much better walking directions than Google Maps. They might be good enough for our use!

Graphopper is a Google Maps API competitor that provides routing API. Their data is Open Street Map. Part of the reason they are better is that Open Street Map seems to have better foot path coverage in

[2016-07-25 10:09] efratoio commented on #5
Hi,
There are some issues that prevent the insertion to postgres to be completed.

1.  The statements of "CREATE TABLE doesn't end with ";" so cannot be executedfrom the schema.sql file. is this intended
2. right now "agency" "routes" "calendar" works but:
a. in shapes there is a column "shape_dist_traveled" not in file
b. in stop_times "trip_id" is integer but the format is: "20132304_260516" for

[2016-07-25 17:41] efratoio opened #8 "Server"
Hi,
I am talking with Yehuda and he is preparing a server for us.
We must note that the prev server was diagnosed with a dangerous virus and was put to sleep by Yehuda.
So - no more viruses!
We are getting a ubuntu 16 server with nginx and postgres.
What are the first things we would like to do with it, other then creating the db?

[2016-07-25 17:53] daphshez commented on #8
I think the first script would be a script that loads the GTFS nightly to the DB,
and of course a script that runs SIRI queries and loads the results to the DB (once the IP problem is solved).

I think it would be useful to install Apache as well. For example, we might want to run a webapp showing stops and routes on the map, like I started doing in [stops_service](https://github.com/hasadna/open-

[2016-07-25 17:56] efratoio commented on #8
Nginx can be used for our webaps instead of Apache

[2016-07-30 15:26] daphshez commented on #7
With Guy's help, we now have a list of train station entrances.

This was built mainly using Google Street View, govmap.gov.il and OSM.

Ideally I would like to QA it to see we didn't horrible misplaced anything. So if you know any of the stations personally could you have a look [at this map](https://fusiontables.google.com/embedviz?q=select+col2+from+16MbiIAx7BnEH9BgXnu4NJa0JPTpH-kBe2T1an0Kn&viz

[2016-08-01 12:08] daphshez opened #9 "Importing stop locations to Open Street Map"
This is a request that came up in a discussion in Tapuz Public Transport forum. It's tangent to our current tasks, but I thought I'll document as a "[product backlog](https://www.mountaingoatsoftware.com/agile/scrum/product-backlog)" item.

The idea is to use our daily GTFS download + DB insert script to also update Open Street Map with any changes to bus stations and stops. At the minimum we coul

[2016-08-01 12:15] daphshez commented on #7
I am happy to updated we have a rather good (I think) list of [train station exits](https://github.com/daphshez/openbus_data/blob/master/train_stations/train_station_exits.csv).

Guy has started working on getting walking distance between bus stops and stations.

[2016-08-03 10:35] daphshez commented on #8
I think the server is configured as requested now, so I am closing the issue.

[2016-08-03 10:35] #8 closed

[2016-08-11 12:07] daphshez opened #10 "Deploy script for fetching online data from SIRI"
We finally have direct access to the SIRI interface! It's time to start using it!

I suggest we install a script that polls the service regularly (e.g. every minute) and dumps the data to database. As far as I understand, [we already have the technology to do it](https://github.com/hasadna/open-bus/blob/master/fetch_and_store_arrivals.py).

This would require (I think):
1) Setting up the DB tables

[2016-08-12 16:41] daphshez commented on #10
Attached is a list of bus stops.
There are stops served by routes that also call at train stations.
So if route 11 calls at Tel-Aviv Center, all the stops for line 11 are included in this file.
If we can't poll data for the all the 27K bus stops in Israel, we still might be able to poll data for this list (~16K).

[stops_connected_to_stations.txt](https://github.com/hasadna/open-bus/files/415758/s

[2016-08-15 17:28] nitzangur commented on #10
### Implementation:
1) The relevant scheme can be found here: [core/schema.sql](https://github.com/hasadna/open-bus/blob/master/core/schema.sql)
2) [fetch_and_store_arrivals.py](https://github.com/hasadna/open-bus/blob/master/fetch_and_store_arrivals.py) is indeed the currently preferred way for fetching SIRI data. It was tested 2 months ago, but I'm not sure what's its current status.
3) I think

[2016-08-16 11:55] daphshez commented on #10
OK, so here's another idea. Let's poll all (or many) stops along one or two important lines.

This will allow us to see how well we can infer the bus location based on the SIRI data.

I suggest taking 189 Tel-Aviv - Holon, and maybe another line in Jerusalem \ Haifa. I can ask Gil from 15minutes for suggestions.

Does that seem to make sense?

@nitzangur , are you planning to work on this or shoul

[2016-08-29 16:40] daphshez commented on #6
@shalevguy will be working on this task using the simplyshape branch.

[2016-08-29 17:26] kobigro commented on #10
I added the siri cron script, it's in `siri/pull_data.cron`. It's currently set to run every 5 minutes.
To deploy it , we need to decide on a list of stops to poll(stops.txt) and create the schema on the server.

[2016-08-30 10:49] daphshez commented on #4
I implemented an interactive script that exports the stops for a line:

https://github.com/hasadna/open-bus/blob/master/gtfs/parser/line_stops_finder.py

It's interactive because it gives you all the routes that match a given line number, and asks you to choose which one you want.

It works with the GTFS file rather than DB. It also requires route stories.

I think that covers this task for now (m

[2016-08-30 10:49] #4 closed

[2016-08-30 10:52] daphshez commented on #10
I suggest we start with the stops for lines 189 and TLV and 71 in Jerusalem.
I am attaching files with the lists of stops for each of these lines.

I think the field we need for SIRI is the stop code, and not the stop id, which I think is GTFS specific. But unless anyone knows for sure please test it to see which one is correct.

[suggested stops.zip](https://github.com/hasadna/open-bus/files/4446

[2016-08-30 14:19] daphshez commented on #7
We now have results for walking distance queries based on both Google API and Graphhopper API.

The results are here:
https://github.com/daphshez/openbus_data/blob/master/gtfs_2016_08_24/stop_station_walking_distance_350m.txt

The code to generate them is here:
https://github.com/hasadna/open-bus/blob/kavrazif/gtfs/kavrazif/walking_distance.py

based on  @shalevguy 's contribution.

I am keeping t

[2016-08-30 14:57] daphshez commented on #7
OK - based on quick & dirty testing, I suggest taking the minimum of the two methods as the actual distance. It's not 100% correct but it's good enough.

[2016-08-30 14:57] #7 closed

[2016-09-08 14:13] daphshez commented on #10
I tried running fetch_and_store on our new server. I made a few small changes, like removing the username and password from the code (for increased security) and turning off the Open Train proxy by default.

The current status is:

1. There's some permission problems when writing to the DB:
`    psycopg2.ProgrammingError: permission denied for sequence responses_id_seq`
I am hoping someone with mo

[2016-09-08 17:52] daphshez opened #11 "When did the bus actually called at a stop?"
This is the next task that we will need to tackle once we build up some data in the SIRI database.

SIRI data only gives estimate for the next arrival to each stop. What we should see (if we poll frequently enough), is a bus arrival time going down monotonously, then the bus at the stop, then the time jumping up.

In practice it is going to probably be more complicated than that because:
1) The al

[2016-09-20 23:59] daphshez opened #12 "fetch_and_store_arrivals: add an option to dump results to file rather than DB"
[siri/fetch_and_store_arrivals.py](https://github.com/hasadna/open-bus/blob/master/siri/fetch_and_store_arrivals.py) is the script that fetches data from the SIRI server.

Currently it writes the results to a database. It would be helpful if it has an option to just write the results into a flat file, so it can be used for debugging with a database installed.

This would require:
1. Adding appropr

[2016-09-22 15:17] daphshez opened #13 "Bus2train: Analyse bus arrivals to train stations (data analysis)"
Some time ago we were asked by Gil from 15 minutes to analyse the transfers between buses and trains in train stations. His request was to find a metric for how well the buses are coordinates with the trains in different stations, and different times of day. This can have value both for PR and for prioritising the work with the ministry of transport.

[Here's a set of files](https://github.com/dap

[2016-09-23 12:08] daphshez commented on #12
Done, thanks to Guy Shalev for his help.

[2016-09-23 12:08] #12 closed

[2016-10-09 15:06] pankon commented on #13
Hi! I would like to take a look at this, google maps and moovit are failing me right now.

[2016-10-09 17:47] daphshez commented on #13
@pankon please write to me at daphna@shezaf.com

[2016-10-10 18:27] MYank0 commented on #6
I will be Working on this task

[2016-10-16 13:17] daphshez commented on #10
Good news everyone!

Our SIRI access has finally been resolved last week.

I have installed fetch_and_store_arrivals on our server. It is configured to run every minute from 5am to 1am, Sunday-Friday.

It polls data for lines 19 in Jerusalem, line 480 (Jer-TLV) and line 947 (Jer-Haifa).

I expect that within a week we will have enough data to start analysing it and seeing if it's helpful at all.

[2016-10-16 13:17] #10 closed

[2016-10-16 14:49] daphshez opened #15 "re:dash access to our DB"
Re:dash is a really useful tool that allows people to run queries, share the queries and also do visualisations and dashboards. Various other Sadna projects are using it heavily as far as I understand.

Ideally this could be a way to look at all our data (gtfs, siri & bus2train).

What seems to be required:
1. Creating a read-only user on our database. Something like:

	create role UESRNAME with l

[2016-10-17 21:40] #6 closed

[2016-10-18 22:32] daphshez commented on #13
Some thoughts about this task: זהירות חפירה

I am not sure all these details should be implemented in the first version. But these are things that we discussed so I thought they should be documented.

**Initial metrics that we could use are:**
1) If you arrive by train, what's the average time to the first bus that arrives.
2) If you arrive by train, what's the average time over all bus lines.

Fo

[2016-10-18 22:33] daphshez commented on #13
And BTW, @MYank0 and Uriya P are currently looking at this task.

I am going to try to load the data into the DB and make it available through re:dash.

[2016-10-19 13:45] pankon commented on #13
Hi,
I was thinking about using a simplified frequency metric with peaks for hub
stations, although the  average per hour method would work pretty well. It
would be helpful to look at affected areas or maybe to pull from waze data
also.
Chag Sameach
Nathan

On Oct 19, 2016 1:33 AM, "Daphna Shezaf" <notifications@github.com> wrote:

And BTW, @MYank0 <https://github.com/MYank0> and Uriya P are curren

[2016-10-20 11:59] daphshez commented on #15
Our data is now available on re:dash!

See an example query here: http://data.obudget.org/queries/760

Login with your google account.

Thanks @akariv

[2016-10-20 11:59] #15 closed

[2016-10-20 14:38] daphshez commented on #5
I tested, cleaned up and documented the code written by @efratoio & @nitzangur.

I am happy to say that it works, and we have the sample gtfs data in the obus database on our server now!  Thanks for everyone who worked on this issue!

There's a [readme file](https://github.com/hasadna/open-bus/blob/master/gtfs/parser/postgres_insert.md) that documents how to run it.

While this works, there is a p

[2016-10-20 14:38] #5 closed

[2016-10-20 14:42] daphshez opened #16 "Improve performance of the GTFS postgres insert script"
The GTFS postgres insert script [ps_insert](https://github.com/hasadna/open-bus/blob/master/gtfs/parser/ps_insert.py) works at about 1000 records / second on our server.

This is a bit slow considering that a single GTFS file can contains 10s of millions of records.

We should look at how to improve the performance. Is there some batch insert method that would be efficient? Could [inserting direct

[2016-10-21 11:06] daphshez commented on #16
I created a shell script + sql script that does the import using copy command.

It does the GTFS from October 16, (21M records in stop_times) in 4.5 seconds.

It's here: https://github.com/hasadna/open-bus/blob/master/postgres/insert_gtfs.sh

[2016-10-21 11:06] #16 closed

[2016-10-23 17:42] daphshez commented on #2
Route stories can now be created both with and without DB, so I think we can consider this done.

[2016-10-23 17:42] #2 closed

[2016-10-23 17:45] daphshez commented on #13
I am happy to say GTFS data (loaded from the file of October 16th) is now available in the database.

This can be accessed through [re:dash](http://data.obudget.org)

I also added to the database the data about which bus stops are within walking distance from train stations (station_walking_distance table).

This means that the data in the files I originally posted can be retrieved from the databa

[2016-10-23 18:01] daphshez commented on #11
So, good news.
We have a few days of data for the stops of three bus lines:
- 19 in Jerusalem (from Ein Karem to Har Hazofim) - 40 stops
- 480 from Jerusalem to Tel-Aviv - 3 stops
- 947 from Haifa to Jerusalem - 29 stops

Because we poll stops (not lines) we also have data for all other buses that stop at the same stops.

The data is accessible through [re:dash](http://data.obudget.org), in the ar

[2016-10-26 23:20] daphshez opened #17 "bus2train: enhance the trains vs bus arrivals spreadsheet"
A few months ago I prepared [this spreadsheet](https://docs.google.com/spreadsheets/d/1M6HrPnz1H18Tyd59oOxa5Nvo-hd5PzFy4rkWU76mmTQ/edit#gid=1615610302) for 15 minutes.

It gives for each 1 hour window, the number of train arrivals to the station, and the number of bus arrivals. The ratio gives a crude estimation of how good the train station is served by buses.

There are a few updates that this f

[2016-10-27 14:47] bennyz opened #19 "Sample data does not include 'shape_dist_traveled' column"
Because of the missing column, the `insert_gtfs.sql` script fails with the error:
`ERROR:  missing data for column "shape_dist_traveled"
CONTEXT:  COPY stop_times, line 2: "20132304_260516,09:11:35,09:11:35,1321,44,0,0"
`

This is can be fixed by using a newer data set which includes the missing column.
@avielb and I can submit a PR with a new sample if needed.

[2016-10-27 15:14] daphshez commented on #19
Please do. Maybe also submit the code used for creating the sample, for the next time fields are changes and a new sample is needed?

[2016-10-27 15:27] Bennyz commented on #19
We will submit a script as well. We plan on taking the first 1000 lines or so from each file, will that do? Or are there some other requirements for creating the sample data?

[2016-10-27 17:24] daphshez commented on #19
Unfortunately it's a bit more complicated than that. There are dependencies
between the tables. You wouldn't want to have say trips without the routes
they depend on.

What I would be good is to have the first 10 trips, and the related records
from routes, calendar, stop_times and shapes files. To keep things simple,
the original complete stops file can be kept (it's not huge,  ~30k
records).

The

[2016-10-30 20:30] OrLichter commented on #11
Hi,
I made a short description of what I could make of the tables that we got from siri.
From what I understand that's not all tables. Is there somewhere I could get at least the names of the tables available? I quickly scanned the doc, but it's more about the connection between different parts of the process and not about what's available there.

https://docs.google.com/spreadsheets/d/1Hi2DvVzpz_

[2016-10-30 22:38] daphshez commented on #11
@OrLichter ,
The only tables coming from Siri are arrivals & responses.
Response is the unprocessed xml. Arrivals is the the parsed response.
You can see the script that generated them here: https://github.com/hasadna/open-bus/blob/master/siri/fetch_and_store_arrivals.py

The rest of the tables are less relevant at his point, but here's some info.

agency, calendar, routes, shapes, stop_times, sto

[2016-11-06 21:01] MYank0 commented on #17
I updated the spreadsheet. You can find it [here](https://drive.google.com/open?id=1-v1UvaJxkeD46N6sKis41L15fPonMOzuBvnlPHYdGrk).

What's new?
1. Re-computed distance between bus stops and stations using walking distance table. (up to 300m)
2. Added data for weekends.

You can see the original bus data [here ](https://drive.google.com/open?id=0B9FEqRIWfmxLS0hzdXBZQS1FMUU)and train data [here](http

[2016-11-07 10:50] daphshez commented on #17
@MYank0

Looks good! Please mail it to Gil Yaacov as well (when you feel it's ready anyway).

1. Is there code you can commit that was used to create this? It would be useful to be able to recreate it.

2. Re:בני ברק, נתבג, מלחה - I think it's probably because of problems with the Google Maps routing rather than not actually having stations there. Maybe the graphhopper distance will be more approp

[2016-11-15 10:23] daphshez commented on #11
Amir Carmel of the MoT suggested a method for finding bus locations. I am not posting it here because GitHub masses up RTL, but it's available on the mailing list here:

https://groups.google.com/forum/#!topic/openbus-israel/KC60TZu1GyI

I haven't made much effort to understand what he is suggesting. It does seem to me that it might require keeping polling other information than what we currently

[2016-11-29 15:18] daphshez commented on #11
Good news: apparently there are some extra fields in the SIRI reply that we haven't been keeping in the past.

In particular `vehicle_ref` is the license number of the bus! This should make tracking the buses much easier.

Can anyone (@OrLichter? @efratoio?) have a look at the problem again and see if it's now more feasible?

Notes:
- I changed the relevant database tables. The main table is now c

[2016-11-30 23:39] daphshez opened #20 "Analyse train passenger count data: new dataset! never seen before!"
We have received (sort of, see below) from Israel Railways data about the number of people starting and ending their journeys at each train station, for each date between April and October 2016, for each hour of the day.

We have asked for the data in order to understand which stations need better bus service, and when (this is for the bus2train project). However I think this is the first time thi

[2016-12-05 23:19] MYank0 commented on #20
1. Data uploaded to database under the table "train_passengers_per_hour". When we receive the new data we can quickly update it. I will commit the script that helps with the upload.
2. Re:dash SQL query to get average of passengers by day of the week is [here](http://data.obudget.org/queries/839/).
3. I started making a spreadsheet of ratio between number of passengers arriving and bus leaving the

[2016-12-19 23:10] MYank0 commented on #20
Hi!
We got new new and full data from Rakevet Israel!    :smile:
Raw csv can be found [here](https://drive.google.com/open?id=0B9FEqRIWfmxLMDl4VnBKcU1Qd0E) and data also uploaded to "train_passengers_per_hour" on Postgres.

[2016-12-20 10:53] daphshez commented on #20
The original Excel files from Israel Railway, if someone is interested:

https://drive.google.com/drive/u/0/folders/0B9FEqRIWfmxLZllpdzlndVh2TVE

[2017-01-15 19:50] daphshez commented on #17
This has mainly be dealt with as part of bus2train.

[2017-01-15 19:50] #17 closed

[2017-01-15 21:40] daphshez commented on #11
This issue isn't up to date with the newest development.
I am closing this and will create new more relevant issues.

[2017-01-15 21:47] daphshez opened #24 "Find trip id for SIRI arrival"
We aggregate bus trips in real rime from the SIRI protocol. The results are in the siri_arrivals table.
We also have data on planned trips in our GTFS tables.

We want to link the data in siri_arrivals to the GTFS trips table, by adding a trip_id column to siri_arrivals.

This should be possible based using the following data from siri_arrival:
* line_ref   (which should be GTFS route_id)
* day of

[2017-03-20 19:30] daphshez opened #25 "is origin_aimed_departure_time in SIRI the GTFS first stop time?"

[2017-03-20 19:37] daphshez opened #26 "Add route offset to siri_arrivals [depends on #29, #30]"
siri_arrivals table contains the GPS locations of buses. As a step towards estimating the buses arrival time to stops, we need to find the route offset of the bus at that point:

<img width="470" alt="route_offset new" src="https://cloud.githubusercontent.com/assets/250509/26540134/c7776348-4447-11e7-9fd7-8490b85807d3.png">

The task is to:
* create a query that adds a route_offset field to siri_a

[2017-03-20 19:38] daphshez commented on #11
Closing for now, will submit new up to date issue.

[2017-03-20 19:38] #11 closed

[2017-03-20 20:06] daphshez opened #27 "Find real time stop arrivals [depends on #24, #26][advanced]"
The goal of this task is to build a table with at least the following fields:

* trip_id
* date
* stop_code
* actual_arrival_time

Write a script that outputs that to a CSV (no need to write to DB at this point). The script should go under /siri .

**How to do this**
Assuming
 - siri_arrivals table has a trip_id field (#24) and route offset (#26)
 - gtfs_stop_times table has shape_dist_ratio (#33)

[2017-03-24 14:36] daphshez commented on #26
Probably best to solve this entirely at the database level using PostGIS

We need to keep the shapes & points in Geometry fields and then use ST_LineLocatePoint

See here:

http://workshops.boundlessgeo.com/postgis-intro/linear_referencing.html

[2017-05-28 14:36] daphshez commented on #13
@MYank0  - what's our status re bus2train? Can we close this issue?

[2017-05-28 15:18] daphshez opened #28 "A script/query to add stop_point field to gtfs_stops table [implement #30 first]"
Note: this task is a little similar to #30, except it also includes indexing. This isn't as urgent though because we can use the shape_dist_travelled in gtfs_stop_times to start with, rather than calculating the route offset.

We are want to add geometry fields to our database in order to be able to run geoqueries using PostGIS.

The task is to create a script that:
* Adds a geometry column named

[2017-05-28 15:34] daphshez opened #29 "A script/query for creating gtfs_shape_lines table"
We are want to add geometry fields to our database in order to be able to run geoqueries using PostGIS.

The task is to create a script that:
* Creates a new table, gtfs_shape_lines, with two fields: `shape_id` (INTEGER NOT NULL) and shape_line (geometry)
* Insert data from gtfs_shapes to gtfs_shape_lines. All the records with the same shape_id should in gtfs_shape should be merged into a single r

[2017-05-28 22:09] MYank0 commented on #13
Final report is [here ](https://drive.google.com/open?id=0B9FEqRIWfmxLNkx0QUc5NHlueDQ) I think we can close the issue and for now. Maybe when we have real time data we will have more meaningful insights.

[2017-05-29 06:31] #13 closed

[2017-05-29 06:37] daphshez opened #30 "A script/query adding vehicle_location_point to siri_arrivals"
(note: this task is a little similar to #28, but is slightly simpler because indexing isn't required, and also has higher priority)

We are want to add geometry fields to our database in order to be able to run geoqueries using PostGIS.

The task is to create a script that:
* Adds a geometry column named vehicle_location_point to the siri_arrivals table.
* Updates the column to contain the data fr

[2017-05-29 06:37] #25 closed

[2017-05-29 06:45] daphshez opened #31 "Document the siri_arrivals table for beginners"

[2017-05-29 06:48] daphshez opened #32 "Create a database dump for dev environment + docker?"
Find an easy way for new volunteers to have write access to a copy of the database.

Preferably not the entire database but a subset (e.g. siri_arrivals from a single day + related gtfs data)

Can we put it into a docker container based [on this](https://github.com/hasadna/open-bus/blob/dfeaea67d8c4ed51bd0a4b0c30cffbac095ff81b/gtfs/local_db/README.md)?

Alternatively we need good instructions on h

[2017-05-29 08:04] daphshez opened #33 "Add SHAPE_DIST_RATIO field to gtfs_stop_times [easy]"
gtfs_stop_times has a SHAPE_DIST_TRAVELED which gives the distance travelled by the bus from the route origin to the current stop.

The task is to write a query that:
* Adds a shape_dist_ratio field to gtfs_stop_times table
* Populate the field with the ratio between SHAPE_DIST_TRAVELED and the length of the route (values in 0-1 range)

Keep the query as an .sql file under /postgres

You can get t

[2017-05-29 09:08] daphshez opened #34 "Please add me as project collaborator!"
Please add a comment if you would like to join the repository as a collaborator.

This will allow you to assign tasks to yourself, and also work with the [Kanban boards](https://github.com/hasadna/open-bus/projects).

[2017-05-29 16:05] daphshez commented on #31
Here it is:

https://github.com/hasadna/open-bus/blob/master/doc/SIRI_arrivals_table.md

[2017-05-29 16:05] #31 closed

[2017-05-29 16:20] daphshez opened #35 "Create a script to archive GTFS nightly"
We currently rely on the GTFS archive of Open Train.

Unfortunately they can delete files from there without consulting us (it's much less important to them currently than it is to us).

We need to write a script that downloads the files ([Open train script](https://github.com/hasadna/OpenTrain/blob/25ff81df668a9eba1c4369f9a789e34c60b44096/webserver/opentrain/gtfs/utils.py) is a good starting poin

[2017-05-29 20:05] snowRoy commented on #34
hi iam roy (;

[2017-06-02 21:11] MYank0 commented on #32
created first version of tutorial [here](https://github.com/hasadna/open-bus/blob/master/doc/postgres_getting_started.md).
windows part still requires some improvements.

[2017-06-03 07:18] daphshez opened #36 "Build incremental GTFS database [epic, needs breaking down into tasks]"
The GTFS is published by MoT nightly. Each file contains data for the next 60 days, but changes to planning can occur: the GTFS files from the 1/1 and 2/1 may disagree on the trips planned for the 2/1. The data published on the 2/1 should be considered more accurate because it is more up to date.

We need a script that:
* For every day, loads the data from the GTFS file of that day (or the most re

[2017-06-06 08:45] chezihp commented on #34
Hey
Please add me

[2017-06-06 13:41] NadavLidor commented on #24
We produced a join query at: http://data.obudget.org/queries/1090/source

We see that only about 50% of SIRI entries are matched with a relevant GTFS trip_id.
From our study, we believe this is due to discrepancies between SIRI and GTFS departure times .
For example, for route_id/line_ref '7020' on date 2016-12-28, there is a SIRI entry for departure time at 6:10 AM but GTFS has an entry for 6:12

[2017-06-08 17:28] hanan-cohen commented on #34
I will take issue #24

[2017-06-08 17:38] oferito commented on #34
Hi. Please add me. Thanks!

[2017-06-08 17:38] zvigrauer commented on #34
Hi I am Zvi. Pls add me.

[2017-06-09 08:49] hanan-cohen commented on #24
Found a bug in the example query [Issue 24: SIRI departure times for line 7020 on 2016-12-28](http://data.obudget.org/queries/1091/source)

On line 2 - HH24:**MM**:SS should be HH24:**MI**:SS

MM is Month, MI is Minutes

Forked it to [Copy of (#1091) Issue 24: SIRI departure times for line 7020 on 2016-12-28](http://data.obudget.org/queries/1101/source)

[2017-06-09 09:13] hanan-cohen commented on #24
In gtfs_trips, start_date for line_ID 2070 (480) is 2016-12-31. Maybe it's not a good idea to test the query for 2016-12-28. I am testing my queries on 2017-01-11 (Wednesday).

[2017-06-09 09:53] ehudkr commented on #34
Hey, please add.

[2017-06-09 11:16] hanan-cohen commented on #24
There is an offset of 2 hours between the data in SIRI and the data in GTFS.
In SIRI, the time is recorded as 2017-01-02T04:15:00+00:00 and it should be 2017-01-02T04:15:00+**02:00**.

Matching the data for 2017-01-02, 89 lines, without the offset there are 46 matched lines, while with SIRI time+2 hours there are 88 matched lines.

Time zone and Daylights saving time should be considered when comp

[2017-06-09 15:21] MYank0 commented on #33
Issue was solved by @orifolger. Current GTFS is updated with this column and the sql query is saved under postgres. I added the query to the script [insert_gtfs.sql](https://github.com/hasadna/open-bus/blob/master/postgres/insert_gtfs.sql)
@daphshez can we close this issue?

[2017-06-09 17:13] LiorDL commented on #30
Create column:
SELECT AddGeometryColumn ('siri_arrivals_filtered','vehicle_location_point',4326,'POINT',2);
Populate data:
update siri_arrivals_filtered set vehicle_location_point = ST_SetSRID(ST_MakePoint(cast(vehicle_location_lon as double precision), cast(vehicle_location_lat as double precision)),4326);

[2017-06-10 09:06] LiorDL commented on #30
The populate data query should also have the line:
where vehicle_location_lon !=''
(Otherwise the cast caused it to fail).
Only thing left to do is to add these queries to the loading scripts.

[2017-06-10 09:58] #33 closed

[2017-06-10 11:19] MYank0 commented on #29
Query created and saved here[https://github.com/hasadna/open-bus/blob/master/postgres/postgis_queries].
DB updated with the table.
@daphshez can we close?

[2017-06-10 11:26] MYank0 commented on #30
@daphshez can we close?

[2017-06-10 12:40] #29 closed

[2017-06-10 15:07] florpor commented on #35
added script and a daily cron job that runs in obus-dev server.
cron script lives in /etc/cron.daily

@daphshez can you close please?

[2017-06-10 22:02] MYank0 opened #40 "Add siri request status log"
We currently have code which queries the siri service but we don't keep log whether the request succeeded or failed.
The mission is to add a feature that will save in the db for each request whether it succeeded or failed.
For more information about siri see documentation [here](https://github.com/hasadna/open-bus/blob/master/doc/SIRI_arrivals_table.md) and issue [#10](https://github.com/hasadna/o

[2017-06-10 22:11] MYank0 opened #41 "Data Analysis - Create Reports For 480,19,947"
Create reports with the data we have regarding lines: 480, 19, 947.
The reports should include the following analysis:

- [ ] Per Date - how many trips were planned (by GTFS) how many we actually received GPS coordinates (from SIRI). for example: 99 trips were planned but we saw only 91 in SIRI.
- [ ] Which buses left their first stop late?
- [ ] How late are the buses on other stops? (not just th

[2017-06-12 14:25] daphshez commented on #36
![download](https://user-images.githubusercontent.com/250509/27038577-55335a3e-4f83-11e7-82e8-5a512739836f.png)

[2017-06-12 18:27] LiorDL commented on #30
Yes, I'm done with it =) @daphshez

[2017-06-12 18:30] LiorDL commented on #26
-- Add route offset to siri_arrivals (see issue #26)
--Adding offset column
ALTER TABLE siri_arrivals_filtered
ADD route_offset float8;

-- Populate data
with join_result as (SELECT id, ST_LineLocatePoint(shape_line, siri_arrivals_filtered.vehicle_location_point) as line_locate_point_value
FROM siri_arrivals_filtered
JOIN gtfs_trips ON gtfs_trips.trip_id = siri_arrivals_filtered.trip_id_from_gtfs

[2017-06-18 07:57] daphshez commented on #32
@MYank0 should we close this issue at this point?

[2017-06-18 07:58] #30 closed

[2017-06-18 07:59] #26 closed

[2017-06-25 21:16] daphshez commented on #35
I think the script has some problems when running as cron job. Anyway I can't see the files accumulating anywhere. I disabled the cron job for now so.

It needs to:

- [ ] Receive the root directory under which the files will be kept as a script parameter.
- [ ] Log to somewhere where the logs remain visible. Probably easiest to redirect stdout and stderr to a tmp file (>& the output of the script

[2017-07-02 10:36] daphshez opened #42 "Optimize siri_arrivals data"
siri_arrivals has a huge (and hopefully growing) number of records, so we need to be more careful about the size of each record.

We need to make some changes to the current table as well as to the code that creates the table:

- [x] Change trip_id to varchar(20)
- [x] Change vehicle_location_lat and vehicle_location_lon to varchar(8)  (5 digit decimal precision is enough)
- [x] Drop columns confi

[2017-07-02 11:27] daphshez opened #43 "Arrange with Yehuda to open an S3 bucket for the GTFS archive"

[2017-07-09 18:21] efratoio commented on #35
Hi, I added a job to cron.daily  - gtfs_sh
the script is under gtfs/retriever/gtfs_retrievr_sh.sh
the log file is /var/log/gtfs_archive.log
and the files are kept under /srv/gtfs_archive/date.zip
if you have disabled cron.daily it will not run.

[2017-07-10 08:49] daphshez commented on #35
thanks @efratoio
I'll have another look, but anyway hopefully very soon we will want to upload the files to s3 so the script will have to be changed.

[2017-07-10 09:32] efratoio commented on #35
Sounds very good.

[2017-07-10 18:09] LiorDL commented on #30
Note that has been changed so that there is no need to actually hold siri_arrivals_filtered column, we added it to the query that populates the data in Add route offset to siri_arrivals

[2017-07-10 21:53] MYank0 commented on #42
1. can we drop the following fields?
'request_stop', 'destination_display',  'actual_arrival_time',  'arrival_status',  'arrival_platform_name','actual_departure_time', 'aimed_departure_time', 'stop_visit_note',  - based on this [doc](https://github.com/hasadna/open-bus/blob/master/doc/db_tables.md) + queries they are are always empty/ not relevant.

2. I want to erase records we don't need based

[2017-07-10 22:21] MYank0 commented on #32
@daphshez  sorry - didn't notice the comment. I'm closing.

[2017-07-10 22:21] #32 closed

[2017-07-11 08:48] daphshez commented on #42
1 - seems good to me.
2 - It makes sense, but I would suggest not delete records until we are done with this research stage, and we are absolutely sure what's useful for us.
3 - Wouldn't it make more sense to drop the lat & long as string and keep the geometry field?

[2017-07-16 18:30] MYank0 commented on #42
made pull request:
1. Remove unnecessary fields
2. Change vehicle_location_lat and vehicle_location_lon to varchar(8) - make changes in code to round the result.

After pull request is accepted will run:

UPDATE siri_arrivals
SET vehicle_location_lat = NULL
AND vehicle_location_lon = NULL
WHERE vehicle_location_lat = '';

ALTER TABLE siri_arrivals
ALTER COLUMN vehicle_location_lat TYPE double prec

[2017-07-17 18:07] daphshez commented on #42
@MYank0 , if that pull request was for me to review - it looks alright to me. I am not that fresh with the code that I feel I'm particularly equipped to review it though... Suggest you merge it if it seems to be working!

[2017-07-17 20:47] MYank0 commented on #42
done.

[2017-07-17 21:30] daphshez commented on #42
is there anything else to do on this issue or shall we close it?

[2017-07-17 21:31] MYank0 commented on #42
Finished all 4 task - closing :)

[2017-07-17 21:31] #42 closed

[2017-07-18 08:55] #43 closed

[2017-07-18 08:57] daphshez opened #45 "Upload open train public GTFS archive to S3"
The archive is here:
http://gtfs.otrain.org/static/archive/

Need to rename files to YYYY-MM-DD.zip

[2017-07-18 08:58] daphshez opened #46 "Update nightly GTFS script to upload to S3"

[2017-07-18 08:58] daphshez commented on #35
superseded by #46

[2017-07-18 08:58] #35 closed

[2017-07-18 13:26] daphshez commented on #45
thanks @MYank0

[2017-07-18 13:26] #45 closed

[2017-07-18 21:44] MYank0 opened #47 "User Analysis Tool"
**The need** - We were approached by Tony Weisbuch to create an app which will allow citizen to analyze by themselves transport data, specifically regarding Public Transit in the Suburbs. See Mr. Weisbuch full email [here](https://drive.google.com/file/d/0ByIrzj3OFMnIWVJiOUR4akktMXc/view).
Before creating an app or UI we need to think what are the capabilities/ services we want to provide in such

[2017-07-21 05:20] zvigrauer commented on #47
My gut feeling is that we have here two distinct audiences, that may be
best served in different ways. One is the citizen that wants to take a bus
from one point to another. The other is the researcher (I am grouping here
lots of different people, obviously, with diverse interests) that want to
know if one line or one area is served better than another, when the delays
are, etc. with a goal of opt

[2017-07-22 16:38] daphshez commented on #47
Thanks @MYank0 for opening this discussion and @zvigrauer for your very relevant comments.

I think I should elaborate a bit on the background for this discussion. Here's a high level view of what we are trying to build:

![state of the open bus](https://user-images.githubusercontent.com/250509/28492215-fb9c826e-6ef6-11e7-9419-2787d1f10b22.png)

We are currently pretty confident about building the

[2017-07-22 16:44] daphshez commented on #47
Here's some extra ideas from Tony, sorry for the RTL going all wrong as usual:

אני מבקש מכם לשקול בניית מעין מפת תחבורה ציבורית ויזואלית שתדרג את האיזורים, ערים, שכונות לפי איכות שירותי תח״צ (אפשר לעשות זאת בעזרת צבעים). בעזרת ממפת תח״צ ויזואלית מסוג זה, יהיה ניתן להבחין בקלות ובמהירות את ההבדלים באיכות שירותי תח״צ שניתנים באיזורים, ערים ושכונות שונות ברחבי הארץ.
במציאות הרגולטורית העכשיוית, לרשו

[2017-07-24 17:01] open-bus-israel commented on #47
in general, I agree with the points Ziv is making.

As we discussed at the hackathon, we have two distinct use-cases in mind:
- Getting help with planning a route when you want to ride a bus
- Getting insights about service quality.

The former is probably more aimed at a consumer, the latter - at policy
makers, journalists, and activists.

My gut feeling is that for the route-planning scenario, i

[2017-07-24 18:22] open-bus-israel commented on #47
Oren,

Here are my needs...

1. Select a station or two, find expected real time arrival data for buses
(could be all buses, or a choice of which buses).

I usually know which buses I can take to get from A to B, and the choice
depends on when the next bus and the one after that will arrive. So I'll
check the 142 station and the 25/18/125 station to see which will get in
faster. This MAY be possib

[2017-07-24 19:10] sagiben commented on #47
Hi,

Regarding : "Getting help with planning a route when you want to ride a bus"

There's an well known and very live opensource project called
OpenTripPlanner (http://www.opentripplanner.org/otp/)
Movit in there previous name used to use this project for their trip
planner (look for the name Tranzmate at the followng page :
http://docs.opentripplanner.org/en/latest/Deployments/)
An Israeli socie

[2017-07-30 10:07] tonyweiss commented on #47
שלום לכולם
אני מחדד את נושא בניית מפת תחבורה ציבורית

טוני
[bniat-mapa_1.pdf](https://github.com/hasadna/open-bus/files/1185593/bniat-mapa_1.pdf)
![tzir-zman1](https://user-images.githubusercontent.com/30567974/28752440-fb6134de-7527-11e7-9653-4b54e8ebc634.png)

[2017-07-31 16:32] MYank0 commented on #46
Script updated and installed via crontab since cron.daily is not working.
Tried figuring out why cron.daily doesn't work but got stuck. We don't have anacron installed, have it ever worked?
using crontab last night it downloaded the gtfs and uploaded to bucket so it seems to be working.

[2017-08-01 09:14] MYank0 commented on #46
installed and working on obus user

[2017-08-01 09:14] #46 closed

[2017-09-10 19:38] AvivSela opened #50 "Route that contain the same coordinate twice or more leads to undefined behavior"
Because the calculation of the route_offset made without the context of other records, if bus visit the same place twice or more in a trip the  route_offset is undefined.
In the follow example the purple dot represent such case that route_offset of position 4  and 2 will be the same.
![example](https://user-images.githubusercontent.com/10119579/30252234-f50fb892-9676-11e7-97f5-28aa6ec38049.png)

[2017-10-23 17:19] shovalsa commented on #41
current gtfs is from July. Lines to be analyzed are 572, 5

[2017-11-13 19:11] MYank0 commented on #24
Currently our [script ](https://github.com/hasadna/open-bus/blob/master/postgres/adding_trip_id_to_siri_from_gtfs.sql) only matches ~75% of the trips. Need to improve it and understand why some siri trips don't match the gtfs.

[2017-12-25 19:18] inbarsh commented on #34
Hi, please add me

[2017-12-29 21:59] sheyeh opened #51 "trips file now includes trip_headsign field which causes parsing exception"
At least since 2017-12-29, the trips file header is:
`route_id,service_id,trip_id,trip_headsign,direction_id,shape_id`

On 2017-11-26 it was:
`route_id,service_id,trip_id,direction_id,shape_id`

As a result we get a parsing error in insert_gtfs.sql:
[code]
and the trips table is not populated:
[code]

[2018-01-01 14:23] sheyeh opened #53 "When headsign includes quotation mark we don't parse the trips file properly"
For example:
3159,54524691,5036931_291217,נס ציונה _ בית ספר חב"ד,0,86320
Postgres COPY will parse the headsign field from the quote until the next quote it encounters. In many cases this is further down the file and all the trips in between will not be loaded.

[2018-01-01 21:08] #51 closed

[2018-01-01 21:08] #53 closed

[2018-01-01 21:57] AvivSela opened #55 "fix DB connection"
real time siri feature should reuse the siri db connection function from siri/db.py

[2018-01-03 12:02] #55 closed

[2018-01-03 14:06] AvivSela opened #56 "Write to siri_real_time_arrivals table expected arival time"
Definition Of Done:
1. Expected arrival time will be available in the column: "expected_arrival_time" in "siri_real_time_arrivals" table.

Tasks
- [x] Add new column to siri_real_time_arrivals table called  "expected_arrival_time" (timestamp with time zone)
- [ ] Change real-time-siri CRUD to handle the new column.
- [ ] write expected arrival time to the new column

[2018-01-03 15:57] AvivSela commented on #27
Done.
The script is in open-bus/siri/analyseRealTime/Main.py

[2018-01-03 15:57] #27 closed

[2018-01-05 21:00] AvivSela commented on #36
Alternative schema:
![obus_schema](https://user-images.githubusercontent.com/10119579/34628184-28c75554-f26c-11e7-9054-cfcc2f77f763.png)

[2018-01-08 19:58] AvivSela opened #57 "Download GTFS data"
Definition Of Done:
1. Download last GTFS zip file (Reuse the code that currently download the GTFS from MOT)
2. Check if the file is processed already (gtfs_files table).
3. unzip the zip file in given path.

[2018-01-08 20:02] AvivSela opened #58 "Filter relevant GTFS data for tommorow"
Definition Of Done:
1. Filter all record from GTFS files that relevant for tomorrow.
2. Save the relevant record in different files/table.

[2018-01-08 20:06] AvivSela opened #59 "Upsert relevant GTFS record into open-bus DB"
Definition Of Done:
1. Read relevant records from files/tables
2. update~insert records of tables in open-bus tables depends on the "upsert" policy of each table.

[2018-01-21 10:16] GipsyBeggar commented on #34
Hi, please add me, it's Omer.
@MYank0

[2018-03-26 13:22] cjer opened #64 "Add contribution guidelines"
I feel the our project could use some order-making, and a boost to its accessibility to newcomers and sparsely-contributing members. My first offer in this direction is to come up with a good `CONTRIBUTING.md` file that will be suggested to every newcomer to read, and linked to on every issue, pull-request and commit creation.

### Contents
Besides pointing to the basic resources for getting start

[2018-03-26 15:39] zvigrauer commented on #64
Good, it's about time...

On Mon, Mar 26, 2018 at 4:22 PM, cjer <notifications@github.com> wrote:

[2018-04-03 12:27] cjer opened #65 "Write a roadmap"
We could really use the help of recording what we are working on, and what we plan or wish to work on in the future. What is better than a good ol' roadmap for the job!

@AvivSela and I started working on this in the last Monday meetup, and I will open a pull request with a ROADMAP.md file on which we could all discuss

Found this short guide to be useful https://mozillascience.github.io/working-o

[2018-04-30 16:42] cjer commented on #57
Should include all files in MOT's FTP - especially Tariff.zip

[2018-04-30 18:57] yakik commented on #34
Hi.

[2018-04-30 19:06] AvivSela opened #67 "Execute Open-Bus-Bash App and Load Data for One Day"
- Talk with Michal and understand how to execute the bash code.
- Execute the bash code for one day.

**Definition of Done**
- The GTFS information of a day is in the DB
- The SIRI information of a day is in the DB
- The real time DB table is updated

[2018-04-30 19:18] AvivSela opened #68 "Write a SQL query for trips that did not departed"
The query should compare the real time information of the first station with the GTFS time and return the trips that are 8 minute late or more.

**Definition Of Done**
- Save the SQL query in the new re:dash. [https://app.redash.io/hasadna/]

[2018-04-30 19:32] AvivSela opened #69 "Write web page that display a sql query"
write a web page that display a data from sql query.

- create csv file that will represent the result of sql query.
- write a static web page that show the data in a table.

**Definition Of Done**
- A web page that shows the csv file in a table.

[2018-05-07 19:00] #65 closed

[2018-05-07 19:10] cjer commented on #69
I'll do this initial thing using [Pelican](https://github.com/getpelican/pelican) since I know it reasonabely well.

Some useful plugins I found:
1. https://github.com/jessaustin/pelican-json-reader
1. https://github.com/e9t/pelican-loadcsv
1. https://github.com/getpelican/pelican-plugins/tree/master/tipue_search
1. This could have been nice... we could try Jekyll or Nikola instead but I never use

[2018-05-07 19:12] cjer commented on #69
About the server, we could use Github Pages on this repository if its possible, otherwise we'll need to setup some other simple web server to handle the requests to the static pages generated by Pelican.

[2018-05-07 19:36] cjer opened #71 "Download and archive all files from FTP"
There are other important files on MoT's FTP server (tariffs for example).
We need to download all files and archive them in our s3 repo.
Use Omer's new script and test it for a few weeks in parallel with the current code.

**To Do**
1. Download all files and place them in a folder.
2. upload the folder to S3.
3. Add the script execution as daily Cron Job in our server.
4. check after 2 weeks that

[2018-05-07 22:06] AvivSela commented on #68
@yakik
re:dash is working now: https://app.redash.io/hasadna

[2018-05-07 22:21] cjer opened #72 "Archive daily GTFS statistics"
[GTFSTK](https://github.com/mrcagney/gtfstk) is a Python 3.5+ tool kit for analyzing General Transit Feed Specification (GTFS) data in memory without a database. It uses Pandas and Shapely to do the heavy lifting.

1. Run it's built in statistical summaries on all of our feeds - `compute_trip_stats`, `compute_route_stats`, `compute_feed_time_series`, `compute_feed_stats`, `compute_route_time_serie

[2018-05-07 22:29] cjer opened #73 "Check route improvements between two time-periods"
### Description
MoT has released a list of improvements planned to be made on certain routes. We were asked to check whether this has actually happened using a comparison of GTFS feeds from different times (December~March)

Part of this should be done with as an example for usage of GTFSTK statistical archive (#72 )

### Definition Of Done
Published Jupyter Notebook with analysis results.

### Dat

[2018-05-28 18:41] yakik commented on #68
Query is ready, however there is some time difference (like timezone) between GTFS and Siri. We need to check this.

[2018-06-11 17:35] cjer commented on #69
Initial code for pelican site is here. Waiting for @uda for a repository for hosting it as a GitHub page, and a domain under hasadna.

[2018-06-18 15:53] cjer commented on #72
Two problems with doing this -
1. very very slow and memory intensive, even crashes with memory errors on some systems (our GTFS is big)
2. cannot filter trips by date
3. some important missing fields - zones, first & last stop coordinates

I'm considering implementing the stats myself using partridge, based on the methods already implemented in [gtfs_utils](https://github.com/cjer/open-bus-explor

[2018-06-18 18:08] cjer opened #75 "Check service improvements in Zikhron"
See attached image of local news article from Zikhron (it was published over a month ago).
- Compare two GTFS files (one old one new) to see whether the service improvement promises were actually kept.
- Publish results as a clear Jupyter notebook (to be published as a blog post).

![zikhron](https://user-images.githubusercontent.com/9987721/41553744-55ea62f6-733b-11e8-8d3a-f280a4bf628a.png)

[2018-06-18 18:15] cjer commented on #75
see #73

[2018-06-18 18:17] cjer opened #76 "Check service improvements in Rosh Ha'Ayin"
See attached local news article from [Rosh Ha'Ayin](http://mynetroshhaayin.co.il/article/299848/8)
- Compare two GTFS files (one old one new) to see whether the service improvement promises were actually kept.
- Publish results as a clear Jupyter notebook (to be published as a blog post).

See #75 #73

[2018-06-18 18:18] cjer opened #77 "Check service improvements in Petah Tikva"
See attached local news article from [Petah Tikva](http://www.local.co.il/document/52,90,153232.aspx)
- Compare two GTFS files (one old one new) to see whether the service improvement promises were actually kept.
- Publish results as a clear Jupyter notebook (to be published as a blog post).

See #76 #75 #73

[2018-06-19 12:12] cjer opened #78 "Find residential areas with no stops"
- Retrieve polygons for countrywide residential areas, preferably with number of residents - OpenStreetMap / Google / CBS
- Use GTFS stops to color parts of residential areas (over a certain threshold of residents) which are far from a stop (e.g. over 1KM from nearest stop which at least one trip stops at to and from)

[2018-06-19 12:15] cjer opened #79 "Map cancelled and added stops"
- Use historical GTFS data to find cancelled stops and added stops in the last year.
- Map them (maybe by month )
- Look for ones that are secluded stops (more than 1KM from any other stop)

[2018-06-19 12:29] cjer opened #80 "Check service improvements in Hertzliya"
See attached local news article from [Hertzliya](http://mynetherzliya.co.il/article/300809/4)

- Compare two GTFS files (one old one new) to see whether the service improvement promises were actually kept.
- Publish results as a clear Jupyter notebook (to be published as a blog post).

See #77 #76 #75 #73

[2018-06-19 15:46] zvigrauer commented on #78
We had some geographers from Beer Sheva and TAU who surely have access to
this required data.

Also, this sound like a perfect job for a GIS system such as QGIS or
ArcGIS, which again, these individuals could furnish you with access to.

It would be interesting to form a GIS model that can reach the gfts data
(you can run python from within the GIS system), parses it and does the
geoprocessing you

[2018-06-23 01:13] AvivSela opened #81 "SIRI-Client Documentation"
Create brief documentation for the app and put it as *.md file in siri-client folder.
The documentation should include:

1. The propose of the app.
2. The main challenge that the app deal with.
3. The main features of the app.

[2018-06-23 01:19] AvivSela commented on #81
[open-bus/siri/siri-client/ReadMe.md](https://github.com/hasadna/open-bus/blob/siri-client/siri/siri-client/ReadMe.md)

[2018-06-23 01:31] AvivSela commented on #81
Done: [open-bus/siri/siri-client/ReadMe.md](https://github.com/hasadna/open-bus/blob/siri-client/siri/siri-client/ReadMe.md)

[2018-06-23 01:31] #81 closed

[2018-06-23 01:52] AvivSela opened #82 "Get GTFS from MOT"
For the creation of SIRI requests we have to get first the GTFS:

Write JAVA package that perform the following:
1. Download the GTFS ZIP file from MOT.
2. Create CRUD interface to [StopTime, Trip, Calendar] files that support read functionality.

[2018-06-23 07:16] AvivSela opened #83 "Query GTFS files for finding relevant stops"
We wish to query the last stations of up to date trips. For finding those stations we have to filter the trips that occur "today" and find their last stations.

Write JAVA package that perform the following:
1. Using GTFS Crud  (#82) , find relevant last stations for given date.
2. Create a generic interface for each result (in the future the result may contain more information except the last sta

[2018-06-23 07:26] AvivSela opened #84 "Build SIRI Queries"
After we found relevant stations to query, we have to convert them to SIRI queries.

Write JAVA package that perform the following:

1. Convert the GTFS result instance from #83 into SIRI query instane

[2018-06-23 12:26] AvivSela opened #85 "Pack SIRI Queries into Requests"
instead of building a request per query we build a request for number of queries. in the request is also the place to define how often the request should be executed.

Write JAVA package that perform the following:
1. Divide SIRI queries #84 into SIRI request instance.
2. SIRI request instance should be able to give:
- Start time for execution.
- End time for execution
- Interval time of execution

[2018-06-23 13:32] AvivSela opened #86 "Perform Requests"
The SIRI requests created in #85 will execute in parallel

Write JAVA package that perform the following:
Will get SIRI request and perform that in the given
1.  interval and in the given time limits.
2. SIRI responses will collected in a queue for consuming.

[2018-06-23 14:24] AvivSela opened #87 "Convert siri responces into SIRI answers"
After SIRI responses have been collected in a queue #86, in each response there are one or multiple answers of SIRI queries. There is a need to covert each response to multiple SIRI answers.

Write JAVA package that perform the following:
1. Split SIRI responses into multiple SIRI answers.
2. Log answers that represent errors.
3. Filter duplicate answers

[2018-06-23 14:31] AvivSela opened #88 "Push SIRI answers to output"
After collecting SIRI responses #86  and split them into answers #87 the next step is to write the answers to CRUD that could represent many optional targets such as File, DB, KAFKA Massage queue etc.

Write JAVA package that perform the following:
1. CRUD object of CSV file that each line represent an answer

[2018-07-13 10:26] LiorDL opened #93 "Update website to new design"

[2018-07-30 21:52] #82 closed

[2018-07-30 21:52] #83 closed

[2018-07-30 21:52] #84 closed

[2018-07-30 21:52] #85 closed

[2018-07-30 21:52] #86 closed

[2018-07-30 21:53] #87 closed

[2018-07-30 21:53] #88 closed

[2018-08-06 05:04] AvivSela opened #98 "First and last departure time of the trip"
While reading the log of MOT SIRI responses write a callback function that get each time one response and find: The first and last departure time of trip per route and day.

For example the first trip of route 5 in 1.4.18 was at 6:00 in the morning and the last trip was at 23:00.

[2018-08-06 05:09] AvivSela opened #99 "Number of trips that executed per route in day"
While reading the log of MOT SIRI responses write a callback function that get each time one response and find: how many trips that executed per route in day.

For Example: in 1.4.18 there was 70 trips of route 37465

[2018-08-06 05:15] AvivSela opened #100 "Maximum of the duration (in minutes) between start stop and end stop"
While reading the log of MOT SIRI responses write a callback function that get each time one response and find: per route per day the trip with the max duration (in minutes) between start stop and end stop.

for example: in route 39586 at 1.4.18 the the max duration of a trip was 240 min.

[2018-08-06 05:30] AvivSela opened #101 "Maximum number of simultaneous trips in service"
While reading the log of MOT SIRI responses write a callback function that get each time one response and find: maximum number of simultaneous trips in service.

for example: in route 39586 at 1.4.18 - in 08:35 there was 12 buses on the way

[2018-08-06 16:27] cjer opened #102 "Add original file name column to GTFS stats"
Add a column named `gtfs_file_name` to all stats DataFrames produced by the `gtfs_stats` script (currently `route_stats` and `trip_stats`).
Some daily stats DataFrames are built using forward fill (when a GTFS file is missing).

Some motivation: We want to know where our data originates (i.e. provenance), and also this will be useful when we check changes in the GTFS files themselves.

[2018-08-06 16:32] cjer opened #103 "Add custom day cutoff capabilities to gtfs_stats"
As specified in this `partridge` issue https://github.com/remix/partridge/issues/37.

Add `day_cutoff` parameter (`HH:MM:SS`) to the config of gtfs_stats (default to midnight). This will cause relevant stats to be calculated using a day that starts and ends accordingly (currently days are based on calendar days, midnight to midnight)

This change will effect forward_fill too, and so make sure to m

[2018-08-06 18:11] cjer opened #104 "Add cluster info to route_stats from ClusterToLine.zip"
`ClusterToLine.zip` in MoT's FTP contains a mapping from lines (routes in ftp) to their cluster name and id.
Add this info as new columns in `route_stats` DataFrame (merge using `route_mkt` and add `line_type`, `line_type_desc`, `cluster_id`, `cluster_name`, `cluster_sub_desc`.

~~Also check `route_type` in file compared to the GTFS `route_type` (should match).~~

Use the  function in `gtfs_utils`

[2018-08-06 18:16] cjer opened #105 "Add stop info from stop_desc"
`stops.txt` has a `stop_desc` column which contains textual info about the stop in the form of:
`רחוב:בן יהודה 76 עיר: כפר סבא רציף: קומה:`

Add `עיר` data as new columns to route_stats - `start_city` and `end_city`

In the future consider adding all data to `stop_stats`

[2018-08-06 18:27] cjer opened #106 "Use daily Tariff.zip to get start_zone and end_zone when available"
Currently `gtfs_stats` uses a constant Tariff.zip file set in the conf.
This should be changed to using the relevant daily Tariff.zip, by date, from our S3 repo.

[2018-08-06 18:42] #72 closed

[2018-08-06 19:25] #98 closed

[2018-08-06 19:25] #99 closed

[2018-08-06 19:25] #100 closed

[2018-08-06 19:25] #101 closed

[2018-08-06 19:29] AvivSela opened #107 "update readme file"
In the new version of the readme files we need just general info about the project, explanation on the folders hierarchy, and reference to the road map file .

We plan that each sub-project will maintain its own readme file.

[2018-08-06 19:38] AvivSela opened #108 "update roadmap file"
organize the roadmap that will contain short description on the projects and milestones and reference to relevant github milestones and readme files in specific projects (=folders)

[2018-08-06 19:46] AvivSela opened #109 "Read siri client log and collect some details"
Read the siri client log and collect the following details:
1. The first record of trip in siri.
2. Departure time and location of each trip from the first station
3. Arrival of each trip to the last station.
4. List of trips that not executed.

[2018-08-13 17:28] adiwaz opened #110 "Check bus service boosting because of train works"
Tasks:
-------
* Compare two GTFS files (one old one new) to see whether the service change promises were actually kept.
* Publish results as a clear Jupyter notebook (to be published as a blog post).

Link:
------
https://www.rail.co.il/pages/updates/hismul-update.aspx

Details:
--------
The changes will begin on the night between Saturday 11.8.18 and Sunday 12.8.18 (00:01) and end on the night b

[2018-08-15 21:18] cjer commented on #110
analysis code is here: https://github.com/cjer/open-bus-explore/blob/master/openbus_18_haifa_tlv_train_hishmul_boosts.ipynb

also wrote a facebook post about it.
this and all the other accountability analyses should be uploaded to our blog  (when it will be up) with a unique tag.

[2018-08-15 21:18] cjer commented on #110
closing

[2018-08-15 21:18] #110 closed

[2018-08-20 19:49] AvivSela opened #113 "Install postgresGIS on new virtual machine"
The analyzing tasks should be done on separate machine.
we will use postgresql-GIS for "out of the box" geographic functions.

[2018-08-20 19:51] AvivSela commented on #113
waiting for @uda for new machine in Digital Ocean

[2018-08-20 19:59] AvivSela opened #114 "Upload geographic information from GTFS into DB"
Upload to the postgresGIS database, GTFS files from one day that contain information about the routes.
important: find out what type of column suitable for the GPS columns

[2018-08-21 07:15] AvivSela commented on #114
Assignees: Sharon Team

[2018-08-22 16:47] cjer opened #115 "Add info from `route_desc` field to trip_stats and route_stats"
Extract three fields from `route_desc` field from routes.txt: `route_mkt`, `direction`, `alternative`. Add them to trip_stats and route_stats. See info from MoT's pdf.
![image](https://user-images.githubusercontent.com/9987721/44477737-285d7300-a644-11e8-8339-cf66ef513535.png)

[2018-08-22 16:48] cjer commented on #104
Wait for #115 to get `route_mkt` in route_stats

[2018-08-27 18:36] adiwaz commented on #103
I implemented a function in gtfs_stats.py: compute_route_stats_time_cutoff.
Can be found in the branch here:
https://github.com/adiwaz/open-bus/blob/custom_day_cutoff/gtfs/gtfs_utils/gtfs_utils/gtfs_stats.py

We are currently waiting to build basic tests, and then will merge this one.

[2018-08-27 19:08] cjer opened #117 "Check service improvements in Karkur"
Test improvement promises from [this news article](http://www.local.co.il/document/52,81,154606.aspx) were kept.

[2018-08-27 19:11] cjer opened #118 "Check service improvements to Tel HaShomer"
Check whether promises made in [this post](https://m.facebook.com/beseder.glz/photos/a.876578659053037/1991023960941829/?type=3&source=48) on יהיה בסדר בגלצ were kept.

יהיה בסדר בגלצ
למה לנתק את כל השכונות הצפוניות של תל אביב משירות אוטובוסים לבית החולים הכי גדול בארץ ולבסיס הצבאי הכי גדול בסביבה? לפני כחודש נועה פתחה במחאה על ביטול האוטובוס שחיבר בין רבבות תושבים לתל השומר:

"היום הוא כבר נעלם.

[2018-08-27 19:12] cjer commented on #117
מתגברים את קו 4 מכרכור לרכבת

בעקבות בקשת הרשות ממשרד התחבורה הקו יכלול כעת 12 נסיעות יומיות
כתב לוקאל 08/08/2018
קו הרכבת המתוגבר (צילום: באדיבות מועצת פרדס חנה כרכור)

משרד התחבורה נענה לבקשת מועצת פרדס חנה כרכור בפנייתה למען שיפור התחבורה הציבורית ביישוב. הנהלת הרשות דיווחה כי בהתאם לבקשת הרשות משרד התחבורה החליט על תגבור קו 4 מכרכור לרכבת ב-6 נסיעות יומיות לכיוון.

תגבור הקו אשר יכלול כעת 12 נ

[2018-09-19 15:16] AvivSela opened #121 "combine gtfs and s3 utils"
last meeting i showed Omer (@GipsyBeggar ) the generic code i wrote for handling S3 interface and he suggested that we will combine the two scripts, so the new script could handle tasks as upload SIRI logs into Digital Ocean  S3 buckets and still support downloading GTFS files from MOT FTP and upload them to Amazon S3 buckets.

[2018-09-19 15:34] AvivSela commented on #121
Hi @GipsyBeggar lets sit together on it. i will be glad to hear what are you thinking about it and how we can continue from here.

When i started to look at the script it was bit confusing so the main changes i did are splitting the script into 4 different files:
1. gtfs_retrieve.py - The main file.
2. gtfs_retrieve_FS.py - handles the local files and metadata.
3. gtfs_retrieve_MOT_FTP.py - handle

[2018-10-08 19:40] cjer opened #123 "Upload gtfs_stats archive to new DigitalOcean S3"

[2018-10-08 19:42] cjer opened #124 "Create jenkins task for nightly gtfs_stats"
Runs on the last day that has passed, creates trip_stats and route_stats files.
Uploads the results to Digital Ocean S3.
Run on new Digital Ocean server.

[2018-10-22 20:44] AvivSela opened #127 "s3_wrapper.py - "upload folder" command, uses the OS path seperator when creartes keys"

[2018-10-29 18:30] cjer opened #128 "Create עירוני /בינעירוני basic statistics"
Use GTFS merged with the appropriate fields from `ClusterToLine.zip` to create a statistic for the distribution for route trips for types (עירוני / בינעירוני /אזורי):
1. How many routes are there for each type?
1. How many **trips** for each type happen on every day of the week (Sun-Sat)
1. Use the data to to find out and describe how the three types are defined.

Commit results as a Jupyter Noteb

[2018-11-02 13:02] AvivSela commented on #127
#129

[2018-11-02 13:03] #127 closed

[2018-11-02 13:23] AvivSela opened #130 "Upload siri logs to Digitalocean s3"
1. I uploaded the siri information from 01/09/18 to 01/11/18 to our s3 bucket in Digitalocean (example of file key: siri_logs/2018/10/15/siri_rt_data.2018-10-15.5.log.gz).
2. @cjer could you please approve #129 ?
3. @evyatark could you please call `open-bus/gtfs/retriever/s3_wrapper.py`
 and upload siri information daily? I can show you how i did it on Monday.

[2018-11-02 18:01] #115 closed

[2018-11-02 18:02] cjer commented on #105
closed by #131

[2018-11-02 18:02] #105 closed

[2018-11-02 18:04] cjer commented on #130
approved, uploaded entire gtfs_stats folder (in pickled gzip pandas dataframe format for now)

[2018-11-10 20:54] AvivSela opened #133 "Automatic job for download GTFS and archive on Digital-Ocean"
Build a job that download the last updated GTFS files from MOT's FTP and upload the files to DigitalOcean s3 public bucket. the job will be triggered once in a hour, In case there are no new files in FTP the job would not download/upload anything.

[2018-11-10 20:57] AvivSela commented on #133
created the job: GTFS_Download_And_Archive in our jenkins and after the job been executed the following files appear in our s3:

- s3://obus-do2/gtfs/2018/11/10/2018-11-10T20-31-16_ClusterToLine.zip
- s3://obus-do2/gtfs/2018/11/10/2018-11-10T20-31-18_israel-public-transportation.zip
- s3://obus-do2/gtfs/2018/11/10/2018-11-10T20-32-25_Tariff.zip
- s3://obus-do2/gtfs/2018/11/10/2018-11-10T20-32-27_T

[2018-11-10 20:57] #133 closed

[2018-11-19 18:45] adiwaz opened #135 "Create report from Siri data per bus line across time"
**Delve into Siri real-time data in the context of a specific bus line.**

**Goals:**
1. Detect problems with our Siri retrieval protocol
2. Understand and characterize the levels of noise in the GPS data
3. Gain a basic understanding of the data to develop anomaly detection models
4. Provide organized and useful information for the public

**Analysis details:**
1. Actual driven route - compare be

[2018-11-20 07:30] AvivSela commented on #135
As we talked yesterday, the expected results of this issue will be 3 visualizations that we could include in a report.

[2018-11-26 19:42] adiwaz opened #139 "App/web page for users to report about bus arrival"
**Create a user friendly service on which people can report on arrival/not-arrival of buses.**

The goal is to tag our real-time bus data (Siri) with crowd information.
The collected data should be structured (and not free input), so it will be easy to parse and analyze.
The line and stops data should be taken from GTFS schedules, and preferably use the user's GPS signal to help her/him find the c

[2018-11-28 16:30] open-bus-israel commented on #139
I would use Open Data Kit - https://docs.opendatakit.org/getting-started -
I played with it and even created a form that one can use to mimic what 15
minutes gives as their complaint form on their website and app. I attached
the local copy of output form that it let me save on the computer.

I was able to create the form on their build site (build.opendatakit.org),
download it using ODK Collect on

[2018-11-28 16:31] open-bus-israel commented on #139
PS the form is text, open it with your favorite text editor. I use gedit or
nano from the command line.

On Wed, Nov 28, 2018 at 6:30 PM open-bus-israel mailing list <
notifications@github.com> wrote:

[2018-11-28 17:59] zvigrauer commented on #139
When you add a question on the form one of the options is Location, which
can be set to point, path or shape with a style of GPS (the phone's), show
map or manual entry. I only used point and phone GPS, so can't comment on
the other styles.

On Wed, Nov 28, 2018, 7:29 PM Aviv Sela <notifications@github.com wrote:

[2019-02-02 16:01] AvivSela opened #143 "Delete temp files of the GTFS reader of SIRI client"
Currently the GTFS reader of SIRI client download the zip and extract it into temp files bun never delete them. After the GTFS reader finish to download and parse the GTFS information the files should be deleted.

[2019-02-02 16:06] AvivSela opened #144 "Watchdog for siri log"
We would like to have a simple process that could be executed on other machine that check the SIRI logs are keep updating. And in case a problem was detected - emails will sent to group of administrators.

[2019-02-02 16:12] AvivSela opened #145 "jenkins job that copy relevant SIRI logs from SIRI client machine and upload it to S3"
For making the process of upload SIRI data to S3 automatic, We would like to have Jenkins job that triggered every day and do the following:

1. copy the relevant SIRI logs from the SIRI client machine
2. upload the files to S3
3. move the uploaded files into "uploaded_by_jenkins" folder in SIRI client machine

[2019-02-02 16:17] AvivSela opened #146 "Create automatic process for loading SIRI data from S3 to splunk"
connected to: #145
We would like to have automatic process that load SIRI logs that uploaded to S3 to our Splunk

[2019-02-04 17:57] eldadru commented on #143
Starting to work on this issue

[2019-02-11 23:02] OrBin commented on #34
Hi :)

[2019-02-18 18:29] OrBin opened #150 "Discussion about web app for open-bus"
Starting a discussion here, based on notes from the discussion in 11/02/19.

# Features & characterization
* Exporting selected data

## "Customers"
* Private people
* Organizations and non-profits

## Queries
* A single trip
* Multiple trips
* Lines comparison / alternatives display
* Daily/monthly/custom filter for a line
* Geographic filtering (selecting an area on map, selecting a city)
* Stop

[2019-02-18 18:50] OrBin commented on #150
@cjer

[2019-02-18 19:39] AvivSela commented on #145
I created Jenkins job called "Upload_SIRI_Logs_To_S3" that gets a date and handle logs for that date, and job called "Daily_SIRI_Upload" that triggered once a day at 03:00 and trigger the Upload_SIRI_Logs_To_S3 job with yesterday date.

[2019-02-18 19:39] #145 closed

[2019-02-18 19:56] AvivSela commented on #150
Is there any GIS solution in Elasticsearch or Mongo?
it's really easy and efficient to perform geographic queries with PostGIS, there is also data type MULTIPOINT that could be the solution for the shape of a route

[2019-02-18 20:04] AvivSela opened #151 "Present GTFS & SIRI data of multiple trips as Leaflet Widget"
Build a web page that shows rides on a leaflet map
- The information that should be presented as layers on the map:
  a. shape of planned route.
  b. bus stations.
  c. other lines that stop at the station.
  d. records of real-time location of the bus.
  e trip information
- example of data: TBD
- please include the example data as a stub in your code so that in the future we could use DB to get

[2019-02-18 21:42] OrBin commented on #150
@AvivSela I'm not a database expert but I'll try to answer from the little I do know.
Elasticsearch has [geographic queries](https://www.elastic.co/guide/en/elasticsearch/reference/current/geo-queries.html) and [geographic datatypes](https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping-types.html#_geo_datatypes) (point and shape). AFAIK it's known to be one of the advantages of

[2019-02-25 21:41] OrBin commented on #150
Updates about decisions from today's discussion:
* React for FE
* NodeJS for BE
* No decision yet about DB. Considering elasticsearch and Postgres.

[2019-03-04 15:23] cjer commented on #150
Some more descriptive use cases, we need mockups for these.

1. Investigation of a specific case:
    1. Goal - Investigate and drill down on a single transport case, find out whether bus was no-show/late/early, bus skipped stop or took a wrong route, weird real-time data in apps or electronic board.
    2. Inputs -
        1. route and origin_aimed_departure_time (if the user knows it). People do

[2019-03-04 17:58] OrBin commented on #150
@cjer, a few questions/thoughts about the use cases
**1.ii.b**: "and an optional route" - what do you mean? How do you think the user can give a route as an input? Maybe a destination city/stop, or a stop in (middle of) the route?
Same question for **2.ii** and **3.ii** ("route filter").

**1.iii.e**: what do you mean by "how many coordinates?" Why would someone be interested in it?

**2.ii**: IMO

[2019-03-04 18:44] OrBin commented on #150
Today I've talked to Harel Mazor from Israel Hiking Map about databases.

They decided to use elasticsearch, mainly because of its advanced textual search capabilities, but later discovered that it has good geospatial capabilities.
I don't think the textual search capabilities are relevant for us, since any textual search we'll want is address search, which can and should be performed by a geocode

[2019-03-04 20:09] OrBin commented on #150
Tasks separation from today's discussion:

1. Define the API between the FE and the BE, including response examples - Should be done **before the hackathon**.
2. Create the BE as a REST API server **returning mock data**.
3. Use the mock to create a FE and display the data on a map.
4.
   1. Make the GTFS and SIRI data be inserted into the database **efficiently**. This task may include modifying

[2019-03-05 10:57] #9 closed

[2019-03-05 10:59] #19 closed

[2019-03-05 10:59] #20 closed

[2019-03-05 10:59] #24 closed

[2019-03-05 10:59] #28 closed

[2019-03-05 10:59] #36 closed

[2019-03-05 10:59] #40 closed

[2019-03-05 10:59] #41 closed

[2019-03-05 10:59] #57 closed

[2019-03-05 10:59] #58 closed

[2019-03-05 10:59] #59 closed

[2019-03-05 11:01] #93 closed

[2019-03-11 18:22] OrBin commented on #150
### API definition (draft)

#### Case 1
`GET /transport?routeId=<routeId>&originAimedDepartureTime=<time>`
Returns a single transport

`GET /transport?stopLocation=<location>&startTime=<startTime>&endTime=<endTime>`
Returns multiple transports (all transports that fit the condition)

`GET /transport?stopLocation=<location>&startTime=<startTime>&endTime=<endTime>&routeId=<routeId>`
Returns multiple

[2019-03-11 19:50] AvivSela opened #155 "Anomaly detection in bus trips"
Hi!
Welcome to challenge number 2 of Open Bus in CivicHack2019!
Background on our team, data and other challenges can be found [here](https://github.com/hasadna/open-bus/blob/master/doc/CivicHack2019/Challenges.md).

# Goal
Given real-time trips GPS data for one bus line over time - detect anomalies:
1. Late departures
2. Unusual delays along the route / Late arrivals to intermediate stops
3. Devi

[2019-03-11 19:51] AvivSela opened #156 "Identify bus line by its actual driven route"
Hi!
Welcome to challenge number 1 of Open Bus in CivicHack2019!
Background on our team, data and other challenges can be found [here](https://github.com/hasadna/open-bus/blob/master/doc/CivicHack2019/Challenges.md).

# Goal
Given time-series data of bus trips GPS and shapes of planned routes, match every trip to its most probable shape and mark invalid trips that do not match with high confidence

[2019-03-11 20:37] AvivSela commented on #150
changed transport into trip and added path for get trip by identifier

### Trips API definition (draft)
`GET v1/trips/{trip identifier}`
Returns single trip

`GET v1/trips?routeId=<routeId>&originAimedDepartureTime=<time>`
Returns a single trip

`GET v1/trips?stopLocation=<location>&startTime=<startTime>&endTime=<endTime>`
Returns multiple trips (all trips that fit the condition)

`GET v1/trips?st

[2019-03-11 22:47] eldadru commented on #143
Status Update: made significant progress today, the code is ready, performing tests to understand if it's working properly

[2019-03-12 20:31] AvivSela opened #157 "Install swagger ui app on our automation machine"
Swagger-UI provides nice and useful graphical documentation for REST API (for example: https://petstore.swagger.io/). this issue is about installing the app in our server to assist developer of the web APP with the API (#150)

[2019-03-14 22:54] eldadru commented on #143
PR: #158

[2019-03-14 22:57] eldadru commented on #144
I think we should solve this with our datadog metrics, we should have a counter metric representing the number of siri records collected, we will than be able to configure an alert in case the rate dropped below some threshold - what do you think?

[2019-03-16 18:02] AvivSela commented on #157
created script that run docker instance and use local api.yml file.

- /srv/swagger_api_service

Available here: http://142.93.111.211:8081

[2019-03-16 18:02] #157 closed

[2019-03-18 19:51] OrBin commented on #150
Created mock for the backend - see #160

[2019-03-18 22:23] OrBin opened #161 "Refactor GTFS Stats package/script"
gtfs_utils.py and gtfs_stats.py are long, messy files. They should be split.

Also, we should think about making it more modular, so the package will be used for other means in addition to generate trip_stats and route_stats.

[2019-03-20 15:29] cjer commented on #161
what I have in mind:
1. Design with tests in mind (against actual files, including older versions)
1. Merge duplicate code/functionality between gtfs_utils/gtfs_utils.py and gtfs/retriever.
1. Decouple functionalities in gtfs_utils/* (what I can think of at the moment):
   1. download (FTP/S3)
   1. GTFS processing (mostly take a GTFS file, read, filter and transform it to tidy DataFrames)
   1. e

[2019-03-20 15:31] #71 closed

[2019-03-20 15:32] cjer commented on #69
Closing for now, not relevant at the moment

[2019-03-20 15:32] #69 closed

[2019-03-20 15:33] #68 closed

[2019-03-20 15:33] #67 closed

[2019-03-20 15:33] #50 closed

[2019-03-20 16:13] #109 closed

[2019-03-20 17:40] eldadru commented on #143
Merged to master

[2019-03-20 17:40] #143 closed

[2019-03-24 12:47] cjer opened #162 "Find and analyze extreme bus loads and speeds for stops and road segments"
### Goals
1. Use GTFS and SIRI data to find extreme bus loads and slow-speeds for stops and road segments (bottlenecks).
1. Look at places with or without DBL (Dedicated Bus Lane, left and right)
1. Visualize on a map, and for different hours of the day.
1. Choose one interesting line and deep dive.
1. Show planned vs real-time.

### Data
1. for now, `route_stats` include all bus stops and origina

[2019-03-24 19:09] OrBin commented on #161
@cjer, when you talk about testing against older versions of files, what does it mean? Did MOT's files change? When and why?

[2019-03-24 19:32] OrBin commented on #161
@cjer, Can I remove `batch_stats()` from gtfs_stats.py? It seems like nothing uses this function.

[2019-03-25 10:37] cjer commented on #161
Older versions - yes, they make changes sometimes. I remember at least one big change in how they set the zones for stops in Tariff.zip last year.
`batch_stats` - yes, it's obsolete.

[2019-03-26 21:50] OrBin commented on #161
Note: in 9a6ac1c, I've shortened the aggregation inside compute_trip_stats_partridge, and **changed some column names** (it was necessary for making the code shorter and more readable):
* start_time -> start_departure_time
* end_time -> end_departure_time
* start_zone -> start_zone_name
* end_zone -> end_zone_name

[2019-03-28 15:29] reuvensh opened #167 "Unable to start application"
I ran:
java -jar .\target\bus-0.0.1-SNAPSHOT.jar

and the application failed to start. See error trace below. Java version "1.8.0_201".

17:21:10,090 |-INFO in ch.qos.logback.classic.LoggerContext[default] - Could NOT find resource [logback-test.xml]
17:21:10,090 |-INFO in ch.qos.logback.classic.LoggerContext[default] - Could NOT find resource [logback.groovy]
17:21:10,090 |-INFO in ch.qos.logback

[2019-03-28 15:55] evyatark commented on #167
Assuming you are trying to run it on your local machine, add this:

-Dspring.profiles.active=test

to the command line.

The datadog error message is not the one that causes the problem. The problem is that there was no implementation for SiriConsumeService.

To understand more, look in code at the classes SiriConsumeServiceImpl and SiriMockServiceImpl - one of them requires profile "production" t

[2019-03-29 08:13] TomerPacific commented on #139
@adiwaz , @AvivSela ,
following our meeting on Monday for the CivicHack, I am taking this issue.

I will try to create a simple application using [Flutter](https://flutter.dev/), so it can be compatible for both Android and iOS.

[2019-03-29 11:05] cjer commented on #162
## `route_stats` Data dictionary:
        - ``'route_id'``
        - ``'route_short_name'``
        - ``'agency_id'``
        - ``'agency_name'``
        - ``'route_long_name'``
        - ``'route_type'``
        - ``'direction_id'``: 1/0
        - ``'num_trips'``: number of trips on the route in the subset
        - ``'num_trip_starts'``: number of trips on the route with
          nonnull start

[2019-03-29 16:55] AvivSela opened #168 "Add support of CORS to web backend mock"

[2019-03-29 18:20] AvivSela commented on #168
fixed in #169

[2019-03-29 18:20] #168 closed

[2019-04-01 14:48] cjer opened #172 "organize hackathon stuff"
Create README.md page in CivicHack2019 folder links and descriptions for all hackathon products.

[2019-04-01 18:20] OrBin commented on #161
I should add renaming these column names for backwards compatibility.

[2019-04-01 19:29] nogur9 opened #173 "Questions for analysis"
1. How much the observed path is matching to the planned path?
2. How much the real starting time correlates to the observed starting time and the end time?
3. Are the GPS observing of the bus line full or partial?
4. define the anomalies of the bus routs and find insights.

[2019-04-05 16:00] AlmogAl commented on #34
Hi, please add me

[2019-04-06 14:37] RobotnickIsrael commented on #34
Hi, who r u?

On Fri, Apr 5, 2019, 19:00 AlmogAl <notifications@github.com> wrote:

[2019-04-06 20:03] zvigrauer commented on #34
I find it curious that the exchange takes place with names that contain
Robot and AI. Do we do personal reference checks on new members? I am sure
both are outstanding members of the community, but I can't fail to be
somewhat suspicious about the coincidence.

On Sat, Apr 6, 2019 at 5:37 PM Israel Robotnick <notifications@github.com>
wrote:

[2019-04-07 09:31] AvivSela commented on #34
*Do we do personal reference checks on new members?  *
*YES *
but it's because we usually don't monitor this thread :( and it's faster to
ask that on our F2F Monday meetings.

On Sat, Apr 6, 2019 at 11:03 PM Zvi Grauer <notifications@github.com> wrote:

[2019-04-09 10:27] EyalBerger opened #174 "How to define a trip in SIRI?"
# How to define a trip in SIRI?

The most basic question for SIRI data analyses is how to define and index a single trip.

## First option:  "trip_id_to_date"

The column "trip_id_to_date" in SIRI might seem like a good choice, but actually different trips (in a same day or in different days) can share the same "trip_id_to_date" (*example will be added soon*).

Due to the absent of an original ind

[2019-04-11 18:24] AvivSela commented on #174
I think we need to find a way to define trip in both GTFS and SIRI - eventually we will need to combine them together.

The most static definition of route (in GTFS) is **route_desc**:

What do you say about the following trip-id format: {route_desc}_{yyyymmddThhmm}.
For example: 11900-2-10_20190411T2124.

The pros:
- We could skip all the challenges regarding the indexes that are relevant just fo

[2019-04-13 21:03] EyalBerger commented on #174
Sounds good.

but...

1. What is **route_desc**?  I looked over a route stats file, but didn't find any field with this topic. What is the difference between this field and **route_id** or **route_mkt**? I also didn't find it on a SIRI file.

2.  We still need to overcome the "SIRI to date" challenge that I mentioned above.

3. GTFS and SIRI doesn't contains the same trips (for specific route_id a

[2019-04-14 05:30] cjer commented on #174
Just to answer your first question: in `gtfs_stats` I split `route_desc` into three fields: `route_mkt`, `route_direction`, `route_alternative`.
I'll reply with more of my thoughts, and the rest of the bigger context we talked about, later on today or tomorrow

[2019-04-17 06:57] evyatark opened #175 "כתיבת הסברים (באנגלית ובעברית)י"
כתיבת הסברים (באנגלית ובעברית) על שיטות עבודה מוצעות, החל מאפריל 2019, בעקבות הפגישה ב15 באפריל

product: [this page](https://github.com/hasadna/open-bus/wiki/%D7%A2%D7%91%D7%95%D7%93%D7%94-%D7%9C%D7%A4%D7%99-%D7%9E%D7%A9%D7%99%D7%9E%D7%95%D7%AA)!

and [this one](https://github.com/hasadna/open-bus/edit/siri-doc/siri/) also...

[2019-04-17 16:33] AvivSela opened #176 "Documentation for gtfs_retrieve and s3_wrapper"
Write readme.md  file next to the scripts that describe their purpose and how to use them.

[2019-04-17 20:20] EyalBerger opened #177 "Create Python API for querying splunk"
It will be much more easy for data analyses to set a connection between python and Splunk DB.

@cjer @AvivSela What do you think about it? does is possible?

I found this [doc](http://dev.splunk.com/view/python-sdk/SP-CAAAEE4).

May I try to implement it using my Splunk user? If one of you already started working on this kind of connection please share your code.

[2019-04-19 05:13] #176 closed

[2019-04-19 05:20] AvivSela commented on #167
I’m closing this issue because it has been inactive for a few weeks.
Please reopen if you still encounter this issue.
Thank you!

[2019-04-19 05:20] #167 closed

[2019-04-20 12:06] AvivSela commented on #177
we planning to move the data outside of splunk, so when we thought about it we proffered to  export manually the data. If you think it will make things more easy in the meantime to have this workaround so go for it.

[2019-04-20 15:46] AvivSela opened #180 "As developers we want to query DB for gtfs archive data"
For the purpose of public API that combine the GTFS and SIRI data we need to have a data source of GTFS that we could query.

On previous phase of the project we had POC with DB that could hold **single** GTFS file and SIRI records of few routes that refer to it.

After the POC was over we understood that converting the DB and the ETL process to support multi GTFS files (#36 ) will consume a lot o

[2019-04-20 18:24] AvivSela opened #181 "Transform daily GTFS files into stream of relevant GTFS objects"
following #180 :
### Definition of Done
1. Given set of local paths to MOT daily files - provide stream of Route objects relevant to given date that each of them have the following:
    - List of Trip object that have departure timestamp (date + time)
    - List of Stop objects
    - List of shape points
    - Other route metadata
2. Unit Tests with more than 90% coverage
3. Documentation page

[2019-04-20 19:27] OrBin commented on #175
Is Hebrew really needed? I think that maintaining documentation in two languages will make one (if not both) of them become out-of-date at some point.

[2019-04-21 03:00] evyatark commented on #175
I truly hope that Hebrew is NOT needed. But it means that everybody should be prepared to write in English. And if someone is not fluent in English, he/she might not participate.

[2019-04-21 07:21] OrBin commented on #175
You are right, but I believe it's an elementary requirement. Am I wrong?

[2019-04-21 09:37] evyatark commented on #175
You are correct. But we should check if all current team members feel ok to write in English

[2019-04-21 17:44] evyatark commented on #175
I added a strong recommendation to NOT use Hebrew.

[2019-04-21 17:48] EyalBerger commented on #177
Thanks. I will try to set this connection for us.

I downloaded splunk-sdk and tried to set a connection to our Splunk enterprise, using the Client class, but the connection has failed, throwing this error:

`TimeoutError: [WinError 10060] A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host

[2019-04-21 17:53] evyatark commented on #151
I have worked on this issue during the March 2019 Hackathon, and I wish to reach a presentable level. You are invited to join - there is a lot of work for everyone!

[2019-04-21 18:09] EyalBerger opened #182 "Add "planned_start_time" date to SIRI data"
For calculating trip index in SIRI data we need to add "planned_start_time" date as a new column in SIRI data.

[2019-04-21 18:14] evyatark commented on #182
It is a simple change in the Java code of siri-retriever. I can do it tomorrow.

[2019-04-21 18:17] EyalBerger commented on #174
Great, I will try to build a trip index using this fields.

We also agreed that the index must be represented as an Integer.

Regrading trip date, I have opened a separate issue num. #182

[2019-04-21 18:20] EyalBerger commented on #182
Great! after the change, could we download it from Splunk for new data only or also for historical data?

[2019-04-21 19:37] cjer commented on #177
@EyalBerger as for your last error, this has to do with network settings for the machine, not splunk credentials. I'll open the port.
As for the general issue. As I said, since splunk is our current database, there's no reason not to use it as best as we can for what we're trying to do. I think we should define the API we want to have for data science purposes, and then splunk will be our current

[2019-04-21 20:05] AvivSela commented on #174
@EyalBerger, We agreed that that the index will be combination of `route_mkt`, `route_direction`, `route_alternative`, `trip departure timestamp`

[2019-04-21 20:07] AvivSela commented on #182
For new data only

[2019-04-21 20:12] cjer opened #183 "SIRI log v2 features - in siriRetriever Java app read more data from the arriving XML response"
These are the changes I know of, after we reach an agreement, separate issues should be opened for every change/addition (A separate issue for documenting SIRI log v1 #184 , and once we agree here one should be opened for SIRI log v2 documentation):
1. output full timestamp for OriginAimedDepartureTime (#182), as it appears in the response: 2019-04-01T20:50:00.000+03:00
1. same for RecordedAtTime

[2019-04-21 20:14] cjer commented on #182
Hey, we have to make sure to update our SIRI processing code before/shortly-after we go live with this change.
I was thinking of going over all of the changes/additions we want for SIRI log and add them all at once maybe (we can call it a new siri log version, I have opened  a new issue #183 to discuss all of the requested features for the new SIRI log version). Have a look at what I said about th

[2019-04-21 20:14] EyalBerger commented on #174
Yes. When you write "trip departure timestamp" you mean "planned_start_time" hour and "planned_start_time" date, right?

[2019-04-21 20:26] EyalBerger commented on #182
Thanks.
As for  `DataFrameRef ` field, I assume that we will need to export it from SIRI raw data, along with the other date fields you have mentioned in #183, and then figure out what is the best one to use for trip indexing.

[2019-04-21 20:27] cjer opened #184 "Document siri_rt.log v1 (current version)"
Documentation should include the following:
1. file format
1. all fields, with their names as they appear in SIRI response
1. Reference to relevant official documentation (preferably from MOT if exists)
1. the corresponding GTFS fields for relevant fields
1. how fields appear in splunk (names and format)
1. an example file in our git (include SIRI request and response example files too)

Anything

[2019-04-21 20:34] AvivSela commented on #177
I open the port and succeed to connect to it with telnet

[2019-04-21 20:40] EyalBerger commented on #177
Thanks, Now I get this error `HTTPError: HTTP 401 Unauthorized -- Login failed`.

Maybe I have to connect as an admin?

[2019-04-21 20:43] cjer opened #185 "Organize github Issues"
1. Close old/irrelevant issues. Link them to newer/relevant issues if exists.
1. Come up with an initial labeling scheme, to match new task management methods. Add it to `CONTRIBUTING.md` file.
1. Go over all remaining issues and label them correctly.

Any opinions about good and helpful labels for issues?

[2019-04-21 21:09] cjer commented on #175
Two comments -
1. I think this content should appear in a `CONTRIBUTING.md` file . Github also has built-in features for directing people to read and comply to contribution guidelines ([see here](https://help.github.com/en/articles/setting-guidelines-for-repository-contributors))
1. I opened an issue for organizing our issues #185  (we're entering the matrix here I know). The issue labels should b

[2019-04-21 21:22] cjer commented on #177
Your user should have REST capabilities. Can you paste your code here? (excluding credentials of course)

[2019-04-21 21:34] cjer commented on #184
For documentation purposes, since MOT tends to change their pages and not keep old versions, I archived their current versions in the Internet Archive (maybe we should do this periodically too)
- https://web.archive.org/web/20190421212552/https://www.gov.il/he/Departments/General/gtfs_general_transit_feed_specifications
- https://web.archive.org/web/20190421212755/https://www.gov.il/BlobFolder/gen

[2019-04-22 04:18] evyatark commented on #175
גם הדאגה שלי היא שדיונים לא יזרמו אם נעבור לאנגלית בלבד.
אצל מפתחי תוכנה בדרך כלל עובדים רק באנגלית. מכל מיני סיבות. בעיקר זה שכל המונחים המקצועיים הם באנגלית, אז אם אתה כותב בעברית אתה צריך לעבור בין עברית ואנגלית בערך כל משפט. שזה מציק מאוד. וגם ברוב האדיטורים (הנה דוגמה למונח שצריך להיות באנגלית) אין ממש תמיכה בכתיבה ועריכה מימין לשמאל.

[2019-04-22 07:26] EyalBerger commented on #177
`!pip install splunk-sdk`
`import sys`
`import getpass`
`sys.path.append('splunk-sdk-python-1.6.6')`
`import splunklib.client as client`

`# Create a Service instance and log in `
`service = client.connect(`
`    host=HOST,`
`    port=PORT,`
`    #schema = 'https', #????`
`    username=USERNAME,`
`    password=PASSWORD)
`
`# Print installed apps to the console to verify login`
`for app in service.

[2019-04-22 08:01] cjer commented on #175
<div dir=rtl>
הבעיה המרכזית -"אנגלית בלבד" בעיני היא שאנחנו רוצים שה-Issues פה יהיו גם תחליף לפורום, ולא רק מקום ל-Features ו-Bug-Requests מוגמרים.  אני חושב שבטווח הארוך זה יגביל מאוד את אופי או את משתתפי הדיונים כאן אם הכל יהיה באנגלית. אשמח לעוד דעות @AvivSela  @adiwaz  @ronlik26 @eldadru
</div>

[2019-04-22 08:23] cjer commented on #177
I just tried it with a test user I created which has the same credentials as you and it works perfectly.  Maybe there's a problem with the username/password you entered?

[2019-04-22 08:33] cjer commented on #175
<div dir=rtl>
או שכדאי למצוא מקום אחר לקיים בו דיונים ולשאול שאלות, שיהיה נוח לתקשר בו בעברית. (והוא יוכל גם לתפקד יותר כמו פורום, למשל שנושאים עם תגובות חדשות יקפצו למעלה).
</div>

[2019-04-22 08:39] evyatark commented on #175
<div dir=rtl>
ידע לא צריך להיקרא מתוך דיונים. אם במהלך הדיון יש משהו שהוא "ידע" אז כדאי מאוד לכתוב אותו ב WIKI

דן - האם מוסכם שעמודי ה WIKI שמרכזים את הידע שלנו כן יהיו באנגלית בלבד?
</div>

[2019-04-22 08:43] evyatark commented on #184
Also - where the files are located (or at least a reference to an issue/wiki page that describes where they are located.
Also - reference to some code that reads such file (preferably in both Java and Python)

[2019-04-22 08:54] cjer commented on #180
What information is missing in current gtfs_stats + incremental shapes? For what task?
Both can be queried from splunk or uploaded to another DB if we want, so this answers the other points I think.

[2019-04-22 09:06] cjer opened #186 "Update gtfs_stats documentation"
**Output**: A wiki page with all of the points below

- [x] an executive summary of `gtfs_stats` (goals and use cases)
- [x] field documentation for `trip_stats` and `route_stats` with clear explanations for outside users.  Not internal definitions as they are in the code now. Include examples and field types.
- [x] the different ways to run `gtfs_stats` with examples.
- [x] output file formats
-

[2019-04-22 09:17] cjer commented on #175
<div dir=rtl>
זה נכון לגבי דברים שמזהים מראש שהם חשובים מספיק. ברור למשל שלא נשלח משתמשים או מתנדבים חדשים לנבור בדיונים כדי ללמוד דברים בסיסיים. ה-WIKI צריך להיות מקום לדברים האלה - מקום ברור ומתומצת שמרכז בצורה טובה את הדברים הקיימים והמוסכמים. אבל תמיד יש עוד ידע בשאלות-תשובות ודיונים שמוצאים בדיעבד שהוא חשוב.

עמודי WIKI נשמע לי בסדר גמור שיהיו באנגלית (אפשר גם ליצור בעתיד גרסאות מקבילות מתורג

[2019-04-22 09:24] EyalBerger commented on #177
Yes, oops...
I entered the my old password instead of my new one.
Now its works.
Thanks

[2019-04-22 10:32] ronlik26 commented on #139
@TomerPacific  are you still working on this issue?

[2019-04-22 10:43] ronlik26 commented on #185
We need to change our labeling system as I tried to go over the issues that are opened, and it was very difficult to understand the status and the type of the issue

Types can be

Design
Question
Discussion
Bug
Code

and for "Code" we can use lifecycle of

Working
Review
Backlog
Ready\Closed

https://github.com/dotnet/roslyn/wiki/Labels-used-for-issues

[2019-04-22 13:38] EyalBerger commented on #177
OK,
I developed a **read_siri** function which query the Splunk DB from python, but during working on some last issues, its raised this error:
`HTTPError: HTTP 503 Service Unavailable -- reason="Search not executed: The maximum number of concurrent historical searches for this user based on their role quota has been reached.", concurrency_category="historical", concurrency_context="user_instance-w

[2019-04-22 14:47] AvivSela commented on #180
1. For the public API #151
2. Full data of stops for example. The main issue here is instead of stat/summery provide all information.
2. i don't think that we should have splunk as dependency.
2. The first task #181 is more about preparation of the data into objects (what partridge does to data-frame). i think that working with objects will help us to solve memory issues and make it easier to load

[2019-04-22 15:26] OrBin commented on #175
עוד נקודה - האם אנחנו צריכים להתחשב באנשים שלא דוברים עברית?
אלה יכולים להיות אנשים שגרים בישראל, או אפילו אנשים ממדינות אחרות שיכולים להתעניין בפרויקט. בסה"כ נראה לי שרוב מה שאנחנו עושים לא ייחודי לישראל...

[2019-04-22 17:01] EyalBerger commented on #177
As for the last error I mentioned, I now use another query method that (still?) didn't raised this error, so for now no changes in configurations need to be made.

[2019-04-22 17:19] TomerPacific commented on #139
@ronlik26 ,
besides the work I have during the hackathon, I have not invested more time into this project. There is a need to create backend endpoints from which the data needs to be retrieved (bus stations according to location, where to send the form data to).  Do you know of any plan to do this or to bring this project to life?

[2019-04-22 21:14] AvivSela commented on #185
I think that each issue should have label of:
1. **Type**
Question
Discussion
Bug
Documentation
Epic - Issue that represent big story that will implemented by more than one task
Task - suppose to take 2-3 days

1. for each epic we will define new label that start with **Epic: xyz** and all the issues of that epic will have that reference. In this way we could see all the tasks that belongs to epic

[2019-04-22 21:29] AvivSela commented on #175
<div dir=rtl>
אפשר גם לשלב - את הדיונים #discussion לא נגביל להיות בשפה מסויימת
ואת שאר הדברים שאמורים להיות סגורים ומוגדרים יותר נעשה באנגלית

לגבי הסברים בוויקי הייתי כותב באנגלית ומתרגם את אלו שאמורים לפנות לקהל שחדש בפרוייקט ודובר עברית
</div>

[2019-04-22 21:47] OrBin commented on #175
שוב, הבעיה בלתרגם היא שתמצא את עצמך עם תוכן לא מעודכן באחת מהשפות (אם לא בשתיהן...)

[2019-04-23 04:59] AvivSela commented on #175
זה לא שכתיבה בשפה יחידה יהפוך את זה למעודכן...
אבל אני מסכים איתך.
מה שכן אני חושב שיש טעם לכתוב בעברית כאשר יש קהל יעד מוגדר אליו כותבים.

אני חושב למשל שכן כדאי שיהיה בעברית טקסט שמכיל את מה שנאמר בעל פה בכינוסי המתעניינים של הסדנה ובעת כניסת מתנדבים חדשים לפרויקט

[2019-04-24 12:27] EyalBerger commented on #177
The previous error (`503`) raised again and for few hours I can't run queries neither by code nor by the Splunk web app. Its will be great if someone could solve it and update `my maximum number of concurrent historical searches`.
As for this issue main subject, for now my pythonic **read_siri** function works very slow. I am working on improving it in two aspects-
* Choosing the best Splunk API q

[2019-04-24 12:50] cjer commented on #177
I don't think the solution is updating maximum concurrent searches. The problem is that you are running very slow and long searches, and run them one after the other without cancelling the previous ones. Increasing concurrent searches will just hurt the server.
I think the best way to go forward is that we sit the coming Monday, if you're coming, and I'll tell you a bit about splunk optimization.

[2019-04-24 14:16] EyalBerger commented on #177
Yes, I think its will be great.
Thanks for the tips.

[2019-04-29 16:35] AvivSela commented on #130
Solved in #145

[2019-04-29 16:35] #130 closed

[2019-04-29 16:42] #56 closed

[2019-04-29 16:43] #64 closed

[2019-04-29 16:44] adiwaz commented on #103
Update:
We are currently updating our issues list, and I am no longer assigned to this issue.
The implementation I provided is present in a [separate branch](https://github.com/adiwaz/open-bus/blob/custom_day_cutoff/gtfs/gtfs_utils/gtfs_utils/gtfs_stats.py). Whoever finds it interesting is welcome to dive into the GTFS_stats code and integrate my/new solution to the day-is-currently-changing-at-mi

[2019-04-29 17:45] adiwaz commented on #135
**Issue is being closed and split into small tasks**
We are currently updating our issues and whole workout plans to have more focused and specific issues. This issue is actually a major goal of the Open Bus team: **combine real time bus data (SIRI) with planned routes and schedules to provide statistics about actual trips**. Therefore, we close this issue, and split it to smaller tasks. More deta

[2019-04-29 17:45] #135 closed

[2019-04-29 18:02] OrBin commented on #186
We've just talked about this issue, so a few notes:
1. A markdown file may be preferred over wiki, since it is located in the repository and will be up-to-date with the code.
1. Auto-generating docs from the docstrings in the code would be even better. I should check out how easy it is to do it with Sphinx. If we find it a good solution, we can host it in readthedocs.

[2019-04-29 18:16] ronlik26 opened #187 "Retrieve Hackathon projects from the participants"
We need to contact the people who participated in one of our challenges and ask them for their project

[2019-04-29 18:45] #107 closed

[2019-04-29 18:45] #108 closed

[2019-04-29 18:46] #121 closed

[2019-04-30 10:30] ronlik26 commented on #172
Can we close this issue?

[2019-04-30 19:15] cjer commented on #172
Yes, closed.

[2019-04-30 19:15] #172 closed

[2019-05-03 08:13] EyalBerger commented on #177
Hi, thanks to Dan I improved my SPL skills, and finished a first version of **read_splunk** function.

I will handle documentation issues next week and share it.

This version have some known shortcomings for now, but I assume it could be still useful for data analyze.

The main challenge is to overcame the Splunk API limit of getting maximum of 50,000 events by one query.  As far as I understood,

[2019-05-06 16:48] #113 closed

[2019-05-06 16:49] #114 closed

[2019-05-06 16:51] OrBin opened #188 "Move GTFS stats configuration to an external file"
Currently, the configuration for GTFS stats is inside a python code file with constants.
It should be read from an external configuration file (probably json).

I've started working on it last week as part of #161.

[2019-05-06 17:03] cjer commented on #177
Great!
Do you have a tutorial/example notebook that uses your API?
About getting more than 50k results besides changing `limits.conf`, I remember there are a few ways to do it. One was to create a job (instead of running a `oneshot`), and then exporting the results once it is finished (this [answer](https://answers.splunk.com/answers/39243/python-sdk-results-limited-to-50-000.html))

[2019-05-06 17:21] adiwaz commented on #184
I started working on this documentation issue.

**Location:** I have opened a wiki page to host the information: ["Bus Real Time (SIRI) Data Documentation"](https://github.com/hasadna/open-bus/wiki/Bus-Real-Time-(SIRI)-Data-Documentation). If you have comments/ideas for where is the best place to have this info please share.

[2019-05-06 17:25] OrBin opened #189 "Decouple functionalities in GTFS stats/utils"
@cjer's suggestion for the required modules:
   1. download (FTP/S3)
   1. GTFS processing (mostly take a GTFS file, read, filter and transform it to tidy DataFrames)
   1. external files processing (TripIdToDate, Tariff etc.)
   1. merges between files (merge logic between GTFS and all other files)
   1. statistical summary GTFS, with optional merged files (this outputs route_stats and trip_stats

[2019-05-06 17:26] OrBin opened #190 "Merge duplicate code/functionality between GTFS stats and gtfs/retriever"

[2019-05-06 17:36] EyalBerger commented on #177
I am working on it :)

As for getting more than 50k  results - I will work on it after I'll finish the first version, thanks!

[2019-05-06 17:40] OrBin opened #192 "Fix packaging in GTFS stats code"
Currently, something's wrong with the packaging in GTFS stats/utils code.
Relative imports don't work, and the modules aren't linked when working with the code in PyCharm.

This should be fixed so that relative imports are used and linking between files works on PyCharm.

[2019-05-06 17:41] ronlik26 opened #193 "Web – Investigate Service"
Goal:
 Investigate and drill down on a single transport case, find out whether the bus was no-show/late/early, bus skipped stop or took a wrong route, weird real-time data in apps or electronic board.

Input:

1. Route id
2. Agency name
3. Date + time
4. City of origin
5. City of destination

Output:

1. Show all related Siri trip shapes on a map
2. Summary (how late on departure, how late to last

[2019-05-06 17:45] OrBin commented on #161
Created #188, #189, #190 and #192 And put them into milestone [GTFS stats refactor](https://github.com/hasadna/open-bus/milestone/4)

[2019-05-06 17:48] ronlik26 opened #195 "Web – Report Service"
Goal:

The goal is to tag our real-time bus data (Siri) with crowd information.
The collected data should be structured (and not free input), so it will be easy to parse and analyze.
The line and stops data should be taken from GTFS schedules, and preferably use the user's GPS signal to help her/him find the closest stop.

Input:

1. Date of the reported event
2. Time of the reported event (Or an

[2019-05-06 17:56] ronlik26 opened #196 "Web – Infrastructure"
Goal:

Create and upload basic web infrastructure (FE, BE and DB).
In addition, create a basic website using bootstrap and add information about our project.

FE : React
BE: NodeJs
DB: Splunk

Server: 142.93.111.211

Tasks:

1. Create FE Infrastructure https://github.com/hasadna/open-bus/issues/198
2. Create BE Infrastructure https://github.com/hasadna/open-bus/issues/207
3. Add basic content abou

[2019-05-06 18:25] cjer opened #197 "Create SIRI trip report"
This Epic defines the steps required for reaching the final goal of creating a bus trip report on SIRI trips in comparison to GTFS trips.

This has two main motivations: (a) we need a common ground for all our SIRI analyses and comparisons to GTFS, given SIRI noisy data, (b) we want to find recurring issues and "bugs" in SIRI data, in order to know how to work with them and hopefully work with MOT

[2019-05-06 18:26] ronlik26 opened #198 "Web - Create FE infrastructure"
We need to create a new project for the FE part.
The first part of the task is to start a React project and add Bootstrap to it.
The second part is to create docker file to this project so we can run it after that as service
The third part is to create a procedure that creates a Docker image in the build machine after commit

The docker image should be installed in the Splunk server.
We should clo

[2019-05-06 18:52] cjer opened #199 "Update create_siri_csv_splunk for siri log v2"
Given an output example for new version of siri_rt log (v2) #183, update `create_siri_csv_splunk` to handle fields changed and added.

[2019-05-06 18:55] cjer opened #200 "Update splunk app for siri log v2"
Given an output example for `create_siri_csv_splunk` #199 based on new version of siri_rt log (v2) #183, update all splunk `open-bus` app resources to handle fields changed and added.

1. sourcetypes - create new sourcetype for siri_log_v2
1. inputs - create new input
1. reports - update (handle v1 and v2)
1. dashboards - update (handle v1 and v2)

[2019-05-06 19:23] EyalBerger commented on #197
Looks great!

I think that between steps 2 & 3 we will need to add a small step of building a **siri2trip_index** function.
We also will need to build parallel function for GTFS.

As for the third step, we will need to define priorities (fullness & route correct label will be our first goal in my opinion)

[2019-05-07 07:36] AvivSela commented on #197
we (me and Dan) talked about it yesterday evening. let's change the term "SIRI trip" to "SIRI ride". More about the differences in #174

[2019-05-07 07:41] AvivSela commented on #174
Let's change the term SIRI trip into SIRI ride. The definition of SIRI ride is: **Group of points that represent a GTFS route**. It is not necessary that the SIRI ride contain a reference to specific GTFS trip.

[2019-05-11 21:22] EyalBerger commented on #174
sounds fine.
According to this definition, what are we planning to do with "trips" with partial points data that can't be matched to a specific GTFS route? we still need to name them and mark them as incomplete "ride"/"trip".

[2019-05-11 21:30] EyalBerger commented on #174
Question about calculating **ride_index** :
Does `route_desc` (or `route_mkt, route_direction & route_alternative`) are available in SIRI raw data? or we have only `route_id` in SIRI?

[2019-05-12 18:47] EyalBerger commented on #177
I uploaded a first version of SplunkUtills. **It's ready to merge now**.

Note that I compared my API results (when using a loop) to the Splunk app results, and founded a gap regarding the last day of the search (I send both queries in 11.5.2019, aiming to get last 30 days data - only the app returned full data from 11.4.2019).

After reviewing and merging this version, I will close this issue and

[2019-05-13 18:58] AvivSela opened #203 "Solution architecture"
We have many issues that try to do the same - discuss about the solution and break it to smaller bricks. let's have one discussion about the solution overview before break it into duplicates tasks.
previous discussions: #150
previous bricks: #198 #196 #195 #193 #181 #180

You could find below the solution as i understand it from the last face to face discussions we had:

![20190513_194246_2](https

[2019-05-14 12:52] AvivSela commented on #177
could you elaborate about how much time it take to get the data from Splunk?
- a specific ride from yesterday
- all rides of specific route from yesterday
- a specific ride from 14/2/19
- all rides of specific route from 14/2/19

[2019-05-14 21:02] EyalBerger commented on #177
* a specific ride from yesterday = There is no data in Splunk from yesterday. I queried for `search index=siri earliest=-8d latest=-7d agency_id=3 route_id=12405 planned_start_time=20:20:00`. 96 rows, 6 seconds.

* all rides of specific route from yesterday = There is no data in Splunk from yesterday. I queried for `search index=siri earliest=-8d latest=-7d agency_id=3 route_id=12405 `. 9009 rows,

[2019-05-20 15:25] OrBin opened #206 "Remove inactive branches"
Currently, our repository has 36 branches, many of them were not updated in the last few months.
Some of them are already merged into master, and many others are only commits behind master but have no commits ahead of master.

We should delete the irrelevant branches, in order to reduce this mess.

[2019-05-20 16:11] ronlik26 opened #207 "Web - Create BE Infrastructure"
We need to create a new project for the BE part.
The first part of the task is to start a Node.JS project.
The second part is to create docker file to this project so we can run it after that as service
The third part is to create a procedure that creates a Docker image in the build machine after commit (a Shared task with the FE infrastructure)

The docker image should be installed in the Splunk

[2019-05-20 16:21] ronlik26 opened #208 "Add basic content about our project to the website"
Add basic web pages to the site.
"מי אנחנו" page - explanation in Hebrew about our goals
"הסדנא" page - explanation in Hebrew about the Public Knowledge Workshop + link to the website
"תרמו לנו" button- link for donation https://www.jgive.com/new/he/ils/donation-targets/3268#donation-modal

[2019-05-20 16:57] cjer commented on #174
None of route_desc fields are in SIRI, only route_id

[2019-05-20 17:02] ronlik26 opened #209 "Create API Infrastructure between FE and BE"
Create basic rest API between the FE side and BE side.
The goal of this task is to create basic communication infra between the server and the client.
Other API's will be added by other tasks.

[2019-05-20 17:20] ronlik26 opened #210 "Create a full flow from FE to DB"
The goal of this task is to create a full flow from the client to the Splunk(our DB).
We have a different task that creates communication between the FE and BE (https://github.com/hasadna/open-bus/issues/209)
Therefore, in this task, we need only to create the infra between the BE and DB.
Part of the task is to understand how to work with the Splunk API's
https://github.com/hasadna/open-bus/issues

[2019-05-20 17:27] evyatark commented on #183
regarding StopPointRef in SIRI response (point number 5 in this issue),
it seems to me that since we always query the last stop of the route, we already have that value in the "DestinationRef" item. But if in the future we will query stops along the route (that are not the last stop), then the values will be different (DestinationRef is always the last stop, StopPointRef is the stop for which we q

[2019-05-20 17:45] adiwaz commented on #184
Update - I put a link in the work-in-progress SIRI documentation wiki page to the siri_retriever README that was written by @evyatark : https://github.com/hasadna/open-bus/tree/siri-doc/siri

[2019-05-20 17:55] evyatark commented on #182
what is called here "planned_start_time" is actually called (in Siri terms) OriginAimedDepartureTime.
It is done as part of issue #183

[2019-05-20 17:59] evyatark commented on #183
commit [660bf80](https://github.com/hasadna/open-bus/commit/660bf805b0f14ffca1a232e4ca1ab2b8493a4ad6) completes all requirements of this issue. I will add some tests, and then merge to master and deploy to PRODUCTION machine.

[2019-05-20 18:53] cjer commented on #183
That's great! Can you send a example log? I need to make the necessary updates in the pre-processing and in the splunk code (@EyalBerger your new SplunkUtils too I guess) ,preferably before you go to PRODUCTION.

[2019-05-23 14:23] cjer opened #212 "Buses moving back and forth"
The last few weeks I found numerous examples in SIRI of buses moving back and forth.
I'm looking at records of the same `bus_id`, `route_id`, `planned_start_time`, `trip_id` move forward in time (`time_recorded`), while its coordinates moves frantically back and forth.
Example ([link ](http://35.192.116.75/en-US/app/open-bus/siri_investigator?latest=1558558800&form.time_setter.earliest=-30d%40d&fo

[2019-05-24 03:23] evyatark commented on #212
בבקשה שלח עוד 2-3 דוגמאות
ובכל דוגמה צריך גם תאריך
ושעת יציאה או
Trip Id

[2019-05-24 03:24] evyatark commented on #212
בבקשה שלח עוד 2-3 דוגמאות
ובכל דוגמה צריך גם תאריך
ושעת יציאה או
Trip Id
אני אבדוק על הנתונים הכי גולמיים שיש לנו כדי לוודא שזה לא בעיה ב
Splunk

[2019-05-24 08:01] cjer commented on #212
All the info you need is in the dashboards or URL parameters
[1](http://35.192.116.75/en-US/app/open-bus/siri_investigator?latest=1558558800&form.time_setter.earliest=-30d%40d&form.time_setter.latest=now&form.agency_id=5&form.stop_city=%D7%A8%D7%9E%D7%AA%20%D7%92%D7%9F&form.route_short_name=45&form.hour_min=0&form.hour_max=24&earliest=1558472400.000000&form.earliest=1558472400.000000&form.route_id

[2019-05-24 12:11] EyalBerger commented on #183
Sounds great!
As for **SplunkUtills** , I don't think any change is needed when adding new fields to SIRI, but I would make a small change in my **Getting Started** notebook after the changes will go to production. Please update here when it's the the right time for that.

[2019-05-24 13:05] EyalBerger opened #213 "SIRI - rows with missing value in timestamp column"
I found some weird phenomenon in SIRI - when querying with my API or with Splunk app **search** I get some rows with missing values in the timestamp column, but when querying with Splunk app **Data Exporter** everything seems to work fine.
For example -
query = `index=siri earliest=-2d latest=now route_short_name=501 |
 fields timestamp, agency_id, route_id, route_short_name, service_id, planned_s

[2019-05-24 16:38] cjer commented on #213
Yes this is a problem in the input process which has to be resolved. The field is in a field named `xD7timestamp`. You can check both in searches for now.
As a quick fix I think I will add an alias so that this field will be available when searching on `timestamp`.

[2019-05-24 19:37] cjer commented on #213
I added an alias, so it should work as expected now. Try your original search and let me know if it works so we can close this issue.

[2019-05-24 19:41] cjer commented on #213
This should close this issue, but I will open a new one for fixing this in the input level. The `_time` for the affected events is also not correct (since it doesn't recognize the timestamp field correctly).

[2019-05-24 20:11] cjer opened #214 "Fix splunk timestamp extraction"
As seen in #213 splunk is recognizing the `timestamp` field correctly for some csv source files. This causes the field to be included in events as `xD7timestamp` instead of `timestamp` and because this is set as the field for extracting the `_time` of the event, the events also get a wrong `_time`.

1. Change the way we extract the time to use `TIME_PREFIX` instead of `TIMESTAMP_FIELDS`.
1. Create

[2019-05-24 20:34] cjer commented on #214
closed by #215

[2019-05-24 20:34] #214 closed

[2019-05-24 20:43] cjer commented on #213
So the all issues should be fixed now. Waiting for your OK @EyalBerger

[2019-05-25 06:43] evyatark commented on #212
Definitely there is a problem, we can see it also in the raw logs.
I changed logging to log all XMLs arriving from MOT.
Dan - if you can find an example from **after** Saturday 2019-05-25 7:30, I will be able to compare it to the raw XML that arrived, and then we can know if the source of the problem is our code or not.

[2019-05-25 19:23] EyalBerger commented on #213
Thanks!
For testing, I queried for `search index=siri earliest=-4d latest=now route_short_name=501 | fields timestamp, agency_id, route_id, route_short_name,
service_id, planned_start_time, bus_id, predicted_end_time, time_recorded, lat, lon, date |`

It's worked fine now, no `None` values in `timestamp` column, when using the API.

But when sending this query with Splunk app **search**, I didn't

[2019-05-25 20:25] cjer commented on #213
You are trying to query in the web interface search app?

[2019-05-25 20:35] EyalBerger commented on #213
I tried both the new API and the web interface search app for this query.

Querying with the new API worked fine. The problem I mentioned in my previous comment occurred only when querying with  the web interface search app.

[2019-05-25 20:38] cjer commented on #213
And when you try in the search tab in the open-bus app?

[2019-05-25 20:42] EyalBerger commented on #213
This is what I did...
![image](https://user-images.githubusercontent.com/42667498/58374420-b2759780-7f46-11e9-836b-5f9eac683141.png)

[2019-05-25 20:53] cjer commented on #213
And can you also give a screen capture of the fields you're getting on the left panel?

[2019-05-25 21:06] EyalBerger commented on #213
Very weird. now it's looks fine -

![image](https://user-images.githubusercontent.com/42667498/58374612-ccfd4000-7f49-11e9-9cf4-d173331cc18e.png)

I guess that something updated at midnight or you made some changes now?

[2019-05-25 21:08] EyalBerger commented on #213
I assume that now we can close this issue.

[2019-05-25 21:09] cjer commented on #213
Great.
(it was caused by the alias. I removed it now after fixing the bad fields)

[2019-05-25 21:09] #213 closed

[2019-05-26 10:53] #47 closed

[2019-05-27 16:20] cjer commented on #212
Examples from yesterday:
[1](http://35.192.116.75/en-US/app/open-bus/siri_investigator?latest=1558904400&form.time_setter.earliest=-30d%40d&form.time_setter.latest=now&form.agency_id=5&form.stop_city=*&form.route_short_name=3&form.hour_min=0&form.hour_max=24&earliest=1558818000.000000&form.earliest=1558818000.000000&form.route_id=2243&form.planned_start_time=12%3A05%3A00)

[2019-05-27 18:04] evyatark commented on #212
After investigation - the problem is not on our side. We receive from Siri server incorrect values in the "RecordedAtTime" field.

Attaching here some files with an example and detailed explanation.

[Summary Of Problem.log](https://github.com/hasadna/open-bus/files/3224663/Summary.Of.Problem.log)

![Screenshot of query1 and the previous GPS point](https://user-images.githubusercontent.com/4737148

[2019-05-27 18:27] OrBin commented on #124
@AvivSela, PR #205 changes the minimal Python version from 3.6 to 3.7. May it cause any problem with Jenkins?

[2019-05-27 18:37] cjer commented on #212
Here is the [search ](http://35.192.116.75/en-US/app/open-bus/report?s=%2FservicesNS%2Fdanb%2Fopen-bus%2Fsaved%2Fsearches%2FFind%2520weird%2520distance%2520hops&sid=danb__danb_b3Blbi1idXM__RMD5cfd83b3f97c03af1_at_1558982197_80&display.page.search.mode=smart&dispatch.sample_ratio=1&earliest=1558472400&latest=1558558800) I used to find the examples

[2019-05-29 10:12] AvivSela commented on #212
The documentation file about SIRI format in MOT says that: (page 15,18 https://www.gov.il/BlobFolder/generalpage/real_time_information_siri/he/ICD-SM.pdf)

- ResponseTimestamp - מועד השדר
- RecordedAtTime - הזמן בו המידע נרשם במערכת

1. Is that mean that the ResponseTimestamp should occur after RecordedAtTime? it seems like even the "Reasonable value of recordedAt" is greater than ResponseTimestam

[2019-05-29 10:16] cjer commented on #212
The issue is not fixed - we know the problem is in the original MOT response, and not in our systems.
We should talk to MOT about this.

[2019-05-29 11:47] evyatark commented on #212
regarding:
ResponseTimestamp - מועד השדר
RecordedAtTime - הזמן בו המידע נרשם במערכת

The words used above might be a bit vague. The actual meaning of the fields are:

RecordedAtTime - the point in time when the vehicle was at the GPS point (that is attached to this time). Or in other words, the point in time when the GPS device measured the GPS point.

ResponseTimestamp - the point in time when th

[2019-05-29 11:50] evyatark commented on #212
I would prefer closing this issue and opening another issue that says "talk to MOT about this" (or any other words you want to use), and that issue should include a link to here so you don't have to write the explanations all over again.

But this is my opinion, if you have a different one it's OK by me.

[2019-05-30 07:24] #102 closed

[2019-05-30 07:29] cjer opened #224 "Add all_stop_name field to route_stats"
Add a field to route stats named `all_stop_name`.
The field will contain `stop_name`s for all stops for ordered by stop time, separated by a semicolon `;` (as in `all_stop_code` and `all_stop_latlon`). Remove semicolons that are present in the original `stop_name` with a colon `:`.
Add it to the test assets.

[2019-06-03 13:15] cjer commented on #187
- [Matching of Recorded Bus Trips to Planned Routes](https://github.com/ido90/Transportation),  Ido Greenberg and Oded Shimon
- [bus-bottlenecks](https://github.com/dincaz2/bus-bottlenecks), Shaked Kaufman et. al.
- [Route Plan Angel & Bottleneck Analysis](https://github.com/amirlb/civilhack-2019), Barak Yossipovch, Amir Livne Bar-On, Dalya Gartzman, Noa Raindel

[2019-06-03 17:18] adiwaz opened #230 "Newcomers data tutorial"
**The outcome of this issue should be the first resource sent to data-science newcomers.**
**The tutorial should:**
1. Link to the [SIRI wiki data documentation](https://github.com/hasadna/open-bus/wiki/Bus-Real-Time-\(SIRI\)-Data-Documentation) (currently work in progress, #184 ).
2. Demonstrate how to pull relevant SIRI data from our DB - currently Splunk, probably using the API from #177 . When

[2019-06-03 17:54] adiwaz commented on #184
@cjer @evyatark
I need your help with information about:
**1. What are the raw results that siri retriever gets?**
**2. What are the stages between the raw answers and the Splunk table?**

Feel free to write it here / link to where it is documented / fill it directly in the wiki page: https://github.com/hasadna/open-bus/wiki/Bus-Real-Time-%28SIRI%29-Data-Documentation.

Thanks!

[2019-06-03 18:37] EyalBerger commented on #174
We agreed to add bus_id to the index.

[2019-06-03 19:04] EyalBerger commented on #174
@AvivSela suggested another way to define rides in SIRI:
Run on bus_id  column - first ride starts from the first `time recorded` per bus_id in the data and last until the first time there is no GPS coordinates data, which means a new ride had started. and so on.

I will check both definitions and compare them.

[2019-06-04 12:55] cjer opened #233 "Check SIRI responses for rail routes"
Many people have asked what info can we get about trains in SIRI. As I understand it, right now we're not making requests for rail routes.
**Task**: run siri client in debug mode (original xml output), upload to s3, and document the responses we get with examples in our wiki.

[2019-06-04 15:42] evyatark commented on #233
I dont understand how the task is connected to what is written before it.

[2019-06-05 14:38] #188 closed

[2019-06-05 19:29] cjer commented on #233
Oh I forgot to say "with a configuration containing a few rail stops and routes". We want to look at the original responses when querying rail routes and stops (they shouldn't return GPS coordinates, but I'm not sure what they do return).

[2019-06-05 19:31] cjer commented on #233
Also: I don't know if we have a proper label for an issue like this. @ronlik26 what do you say fits?

[2019-06-10 17:16] EyalBerger opened #234 "SplunkUtills - open tasks"
Some open tasks regarding SplunkUtills (#177) -

1. **50,000 results limitation**: Getting results via Splunk API is limited to 50,000 events per one query. As for now, we use `for` loop to overcome this limitation, but it's recommended to find a better solution.

2. **Gaps between the API and Splunk app results**: I compared my API results (when using a loop) to the Splunk app results, and founde

[2019-06-10 17:24] EyalBerger commented on #177
SplunkUtills had merged  - [SplunkUtills](https://github.com/hasadna/open-bus/tree/master/splunk/SplunkUtills). I am closing this issue.

I opened a new issue for some open tasks regarding SplunkUtills - #234.

[2019-06-10 17:24] #177 closed

[2019-06-11 06:17] evyatark commented on #183
Completed implementation, and deployed.
As of 2019-06-11 all Siri results logs are in the new format (v2)
(sent merge request)

[2019-06-12 14:36] AvivSela opened #237 "Adjust create_siri_csv_splunk.py to new SIRI log format"
- Execute: _python3 ./pipeline/create_siri_csv_splunk.py ./logs ./splunk_logs_ failed with the following:

- It seems that an exception is thrown from there:
https://github.com/hasadna/open-bus/blob/94b5d82fdc918435b613deacc8260391df192aa1/pipeline/create_siri_csv_splunk.py#L21

- example of new format siri log file could be found here:  https://gofile.io/?c=dEie0Q

- background:
@evyatark:
"As of

[2019-06-17 16:09] cjer opened #238 "Wiki page for splunk dashboards"
Create a wiki page (Hebrew first) with short descriptions for every each splunk dashboard in our open-bus app. Every description should include the basic inputs and outputs and an example use case.

[2019-06-17 18:23] cjer opened #239 "Add TripIdToDate info to GTFS Stats"
Add the trip ID as it is present in the relevant `TripIdToDate` file to GTFS stats (trip_stats and route_stats)

[2019-06-17 18:47] adiwaz commented on #184
Update: We decided that we will have The data flow documentation from MOT to our servers (both siri and gtfs) documented in wiki, and the actual variables will be documented in the relevant code that generates the data tables.
This issue is going to be reorganized to affect this decision.

[2019-06-20 16:58] cjer commented on #237
closed in #240

[2019-06-20 16:58] #237 closed

[2019-06-24 06:00] EyalBerger commented on #174
Just some small updates:
I decided to do this analysis a firm by firm, due to the differences in reporting conventions, starting from Egged Taavura (agency id=4).

As a benchmark, I created two simple trip indexes:
* Route_id + date + trip_id_to_date + bus_id
* Route_id + date + planned_start_time + bus_id

I was happy to found out that they are 100% correlated, when checking all the SIRI reports

[2019-06-24 17:03] #199 closed

[2019-06-24 17:11] adiwaz opened #241 "Create "read the docs" documentation to create_siri_csv_splunk pipeline step"
Create "read the docs" documentation for the module: [create_siri_csv_splunk.py](https://github.com/hasadna/open-bus/blob/master/pipeline/create_siri_csv_splunk.py), which is responsible for parsing the raw SIRI data logs into table format that is pushed into splunk.

Docs should be in a similar format to the gtfs_stats docs created for issue #186 .
Docs should elaborate the API of this module, an

[2019-06-26 13:36] OrBin commented on #186
* Do we have more than one way to run `gtfs_stats`?
* Do we have more than one output file format?
@cjer

[2019-06-27 18:09] cjer commented on #186
What I had in mind was more like different configs that can be used for example: a) running it on a single date (i.e. latest gtfs) b) running it on a long period c) running with forward fill

You're right. Right now `gtfs_stats` only outputs pickles. I run a local script to convert it to csv. This should be added to gtfs_stats (and drop the pickle thing altogether).

Sure - I will add it where nec

[2019-06-27 18:46] OrBin commented on #186
There are determined by `bucket_valid_file_name_regexp` and `forward_fill` in the configuration file, am I right?

OK. I will make a suitable location for this information and leave a placeholder for you. Alternatively, you can write about it and send to me/post it here.

[2019-06-29 11:04] OrBin commented on #186
I've just submitted PR #242, which solves both of these, but does not yet close this issue.

[2019-07-01 18:41] AvivSela opened #243 "Put SIRI records that represent one ride as Document in Mongo DB"
1. Read SIRI records of given date from splunk (next phase: from file?)
1. Group SIRI records into rides
1. Push each group as a document to Mongo DB

[2019-07-01 19:27] AvivSela opened #244 "Add is_normal_number_of_records to ride document"
1. Read documents from mongo db contains group of siri records
1. Calculate if records numbers etc. is normal
1. Update document in mongo db with new attributes

[2019-07-08 17:47] OrBin commented on #192
Closed in #245

[2019-07-08 17:47] #192 closed

[2019-07-13 07:21] OrBin commented on #150
[Here](https://drive.google.com/file/d/1JmZ-wAYCKfc3knA7FUBYPDRWQQkVykgc/view) is a transcription of a lecture in [Open Source GIS 2019 conference](https://kaplanopensource.co.il/conferences/open-source-gis/). Pages 4-6 has some useful information about DBs for GIS.

[2019-07-15 17:43] amirlb commented on #180
It'll also be nice to have less detailed shape data that's quicker to download and process. This method for example can be used to decrease the resolution of geometric objects with a threshold on accuracy: https://shapely.readthedocs.io/en/stable/manual.html#object.simplify

[2019-07-19 11:36] EyalBerger commented on #182
"planned_start_date" field added to SIRI.
I will update the *Getting started* notebook of SplunkUtills, Then close this issue.

[2019-07-24 19:07] OrBin opened #249 "Move GTFS stats to use Digitalocean Spaces instead of Amazon S3"

[2019-07-29 19:25] #249 closed

[2019-07-30 07:39] AvivSela opened #251 "Fix Jenkins after upgrade & change jobs definitions after Pull request 250"
Yesterday i upgrade some of the installed Jenkins modules and it break Jenkins.
-> I reinstall it and restore the old data*.
* EXCEPT the users - if someone wants access rights please update me.

After i finished the installation and started to check that the jobs are also working i discovered that in #250 the s3 wrapper moved to different location (gtfs/retriever/s3_wrapper.py → gtfs/gtfs_utils/g

[2019-07-30 07:40] #251 closed

[2019-07-30 19:06] AvivSela opened #252 "As a developer i wish that jenkins jobs (pipelines) will be part of the code"
Our Jenkins jobs executes our code. In order to keep the jobs and the code without compatibility issues (for example: script file name changed without updating the job) it will be better to include the jobs in the code.

This will allow a developer that make change in the code also check the potential affect on the jobs and update them if needed.

The jobs:
- [x] Convert to Code: GTFS_Download_And

[2019-08-17 22:42] AvivSela commented on #252
All pipeline files created in branch "jenkins-pipeline-jobs-as-code".
All active jobs in Jenkins retrieve the last pipeline file from git

i will keep testing it in local branch next week and then will merge it to master

[2019-08-19 16:46] adiwaz commented on #175
Closing this issue. We have other issues opened for documentation, and future tasks.

[2019-08-19 16:46] #175 closed

[2019-08-19 16:52] #106 closed

[2019-08-19 16:57] OrBin commented on #186
The docs are at https://open-bus-gtfs-utils.readthedocs.io/en/latest/

[2019-08-19 17:03] OrBin opened #254 "Check for the total size of GTFS files to be downloaded in GTFS stats"
Maybe add user approval if it is higher than X GB.
Another option (preferred) is checking that there is enough space in the target disk.

[2019-08-19 17:06] OrBin opened #255 "Add all file names used to gtfs_file_name column in GTFS stats output"
Currently, the `gtfs_file_name` column in GTFS stats' output contains only the name of the actual GTFS files.
It should be replaced with a list of all of the used files (containing `Tariff.zip`, etc.).
Also, the name should be change to something more suitable, such as `original_file_names`.

[2019-08-19 17:18] #212 closed

[2019-08-19 19:42] adiwaz commented on #241
Update: work-in-progress docs in branch siri-stats-doc

[2019-08-26 18:30] AvivSela opened #258 "Firestore CRUD utility"
As a Developer i wish to have utility for read and updates info from firestore DB, so everyone could use it without duplicate code.

Crud class with read and update method based on route id and time.

[2019-08-26 18:31] KobyBo opened #259 "Experiment with Firebase"
Experiment with Firebase + web client for public data access.

- Currently, Firestore is used as the datastore, while the client itself is deployed to Firebase Hosting.
- The client is written in javascript, mainly using Firestore client sdk, react, redux, material ui and leaflet.

[2019-08-28 13:14] #187 closed

[2019-08-28 23:24] AvivSela commented on #258
pseudo code:

[2019-09-02 16:14] #200 closed

[2019-09-02 16:28] #189 closed

[2019-09-02 16:53] cjer commented on #259
closed in #260

[2019-09-02 16:53] #259 closed

[2019-09-02 19:16] KobyBo opened #261 "firebase: Travel time between stations - statistics view"
Suggested user flow:
- The user chooses agency, line and direction.
  - More options?
- We'll show all stations on a map and in a list, and the user will choose their starting station and destination station.
-  Then we'll show:
   - Average travel times between the stations, across the day
      - Per day?
   - Average frequency across the day
   - Some conclusions: Min\max times, min\max\average

[2019-09-03 09:52] SapirDigmal commented on #34
Hi.

[2019-09-03 12:09] OrBin commented on #34
Welcome :)

[2019-09-09 19:22] bfellman commented on #34
Please add me

[2019-09-10 19:55] OrBin opened #262 "Support uploading GTFS Stats results to S3"

[2019-09-11 04:31] AvivSela commented on #258
Hi,
I created the branch: _firebase_backend_
have a look at _firebase/backend/firebase_crud.py_

[2019-09-16 17:04] #124 closed

[2019-09-16 17:56] bfellman opened #265 "Wiki Issues"
This Epic holds all issues with missing\poor Wiki pages.
Wiki pages should hold "stories", and links to further technical documentation in the project dir or "read-the-docs"
(Check milestone for list of issues)

[2019-09-16 18:00] bfellman commented on #238
Why Hebrew?

[2019-09-16 18:22] OrBin opened #266 "Document GTFS Stats configuration"
We should document GTFS Stats' [configuration file](https://github.com/hasadna/open-bus/blob/master/gtfs/gtfs_utils/gtfs_utils/config_example.json).

The type of configuration file may be changed if it is necessary for documenting better, but such a change must be discussed.

[2019-09-16 19:02] bfellman opened #267 "Complete Wiki Home Page"
1) Describe all subprojects:
GTFS
SIRI
Splunk

2) How to become a contributor
3) How to change code
4) How documentations work (wiki vs readmes)
5) shift details descriptions to other wiki pages (i.e. GTFS)

[2019-09-16 19:02] #128 closed

[2019-09-16 19:13] bfellman opened #268 "Remove documentations redundancy"
There's too much overlap between project [docs](https://github.com/hasadna/open-bus/tree/master/doc), [README](https://github.com/hasadna/open-bus/blob/master/README.md), [ROADMAP](https://github.com/hasadna/open-bus/blob/master/ROADMAP.md) and wiki (https://github.com/hasadna/open-bus/wiki)

[2019-09-16 19:44] #262 closed

[2019-09-17 14:37] EyalBerger opened #270 "The real GTFS (based on SIRI) project"
**Quick summary of our last discussions - needs further editing, please add your insights**

We want to present real and accurate buses timetable, using SIRI data.

Main pipeline includes -

1. Defining a SiriRide (#174) -
     * as for now, we decided to use the simple index of `route_id`, `planned_start_datetime` and `bus_id`.
     * needs further investigation if this definition applies for all

[2019-09-17 20:54] AvivSela commented on #258
#271

[2019-09-18 11:03] evyatark commented on #124
סדס€2

On Mon, Sep 16, 2019, 20:04 Aviv Sela <notifications@github.com wrote:

[2019-09-23 16:13] cjer commented on #182
@EyalBerger Anything we're missing for closing this issue?

[2019-09-23 16:24] EyalBerger commented on #182
I still need to do this small update in *Getting started notebook of SplunkUtills*.

[2019-09-23 17:52] cjer commented on #206
@AvivSela @evyatark @eldadru @adiwaz @assafpi Can you go over your branches and delete whatever is not active?

[2019-09-23 18:07] KobyBo opened #273 "firebase: Move project to hasadna's google account"
We need to:
- [ ]  Create a firebase project under hasadna's google account
- [ ]  Setup the billing plan
- [ ]  Move existing data, users and hosted files to the new project
- [ ] Update the project settings in the frontend code

[2019-09-23 18:16] KobyBo opened #274 "firebase: Limit data access"
As we've discussed, we should probably limit the access to the datastore, at least to prevent someone from exhausting our free plan. We could:
- Set a per query limit rule. This is supported by firebase and could be done under firestore's security rules.
- Add user authentication (google, github, etc.). This is supported by firebase, but there is no builtin way to limit individual users query rate

[2019-09-25 13:32] tryko commented on #34
Hi, I'm Itay.
please add me.

[2019-09-25 14:14] cjer opened #276 "Report buses moving back and forth bug to Dan and MOT"
See explanation to the bug in #212 .
Send a short report with visualized examples to Dan and MOT. Follow up with a call.

Note that the problem persists, these examples are from the latest weeks: [example 1](http://35.192.116.75/en-US/app/open-bus/siri_investigator?form.route_id=9813&form.route_short_name=189&form.date=2019-09-18&form.planned_start_time=16%3A25%3A00&latest=1568847600&earliest=1568

[2019-09-25 14:22] KobyBo opened #277 "firebase: Auto deploy client"
The client (frontend) is currently hosted in Firebase Hosting, and new versions can be deployed using firebase command line tool. We could add "auto deployment" using travis\jenkins\github's webhooks\git hooks.

[2019-09-30 13:02] OrBin commented on #206
I'm willing to delete the branches that are marked as merged and have no commits beyond master. Does anyone have an objection?

[2019-10-07 11:42] SapirDigmal opened #278 "Project's Standards"
Each component need to have propTypes

[2019-10-07 18:34] SapirDigmal commented on #261
Planning:

- Copy view
- Change the view to contain only necessary inputs - create mock data first: agency, line, direction/alternative
- Notify user on the next phase
- Change tooltip to a station name - check with the data team
- Choose two stations:
onClick - dispatch action
Create a new reducer for this component?
Select agency, select line, select alternative
 In the component change the colo

[2019-10-08 10:48] AvivSela opened #279 "BUG: GTFS_Download_And_Archive process is fails after failing to delete files prior git checkout"
some packages installed with root user and then the script could not remove them.
solution:
1. Instead of using setup tools to install .egg files i will use "pip install requirements.txt"
2. stop using docker that have to use other user than 'jenkins'

Other changes in "gtfs/gtfs_utils/gtfs_utils/s3_wrapper.py":
1. convert f'{param}' into '{}'.format(param) - this format supported in python 3.6 an

[2019-10-08 12:21] AvivSela commented on #279
@OrBin , please see the changes i made in: gtfs/gtfs_utils/gtfs_utils/s3_wrapper.py

[2019-10-08 12:33] #279 closed

[2019-11-04 18:56] KobyBo commented on #261
Backend related:
* Queries from the frontend:
** The first query - Should get the agencies and lines. The user won't be allowed to choose date(s).
** The second query - Everything we want to show on a map\list and allow the user to choose their origin\destination stations - station names, route, etc.
** Third query - Given the user selection - agency, line\alternative, source\target stations - get

[2019-11-04 19:08] AvivSela commented on #258
TODO:
1. create class / document for gtfs stat

[2019-11-11 19:29] adiwaz commented on #206
My only branch is the SIRI data documentation (siri-stats-doc) and it is still work in progress.

[2019-11-23 21:53] OrBin commented on #254
Closed in #289.

[2019-11-23 21:53] #254 closed

[2019-11-24 14:30] TheFrok commented on #266
My plan for this issue:

- [ ] Document the fields in excel (name, required, description, default value).
- [ ] Insert the documentation to the project (maybe inside the JSON and clean in later, or in a different file).
- [ ] Create a test to check that all the config fields are documented.

[2019-11-24 16:03] TheFrok commented on #266
@OrBin I think JSON SCHEME might be a good option for documenting the meaning of each field.
It is pretty simple and can be parsed to a doc using [sphinx](https://sphinx-jsonschema.readthedocs.io/en/latest/directive.html). what do you think?

[2019-11-26 21:21] OrBin commented on #266
Sounds good. I think JSON schema is better than excel.
I didn't know this sphinx feature, nice!

[2019-11-26 21:46] TheFrok commented on #266
For sure, the excel was just a draft of the documentation text.
I wrote the json schema and I have two questions:

1. I haven't found any use for the `future_days_count` key in the configuration. Did I miss it or can I just delete it?
2. Can I set default values for the output file regexp, so it will be optional in the config?

[2019-11-27 19:03] TheFrok commented on #266
[html.zip](https://github.com/hasadna/open-bus/files/3898363/html.zip)

Here are how the docs came out, if you want to see before I'm opening a pull request.

[2019-11-29 22:55] OrBin commented on #266
About the `future_days_count` parameter - I'm not sure. I think it's a trace from older versions, but I don't really remember. @cjer, do you remember?

About the output file regexp - I wouldn't like to set a default value there, since it is related to how we name and store our files in S3, not to the GTFS Stats utility itself.

The docs look nice, but if you can find a way to prevent the horizonta

[2019-12-07 15:43] #255 closed

[2019-12-08 19:45] #266 closed

[2019-12-08 19:53] OrBin commented on #266
Did you give up on the test?

[2019-12-09 07:05] TheFrok commented on #266
Since the documentation is generated from the schema, and each field has to be added to the schema, I thought it would have much additional value.
I can test that every schema field is documened.

[2019-12-09 07:55] OrBin commented on #266
Yes, that's what I was talking about. But from your explanation it seems
like it's unnecessary.

On Mon, Dec 9, 2019, 09:05 TheFrok <notifications@github.com> wrote:

[2019-12-09 07:55] OrBin commented on #266
Yes, that's what I was talking about. But from your explanation it seems
like it's unnecessary.

[2019-12-16 17:21] OrBin commented on #224
Closed in #282.

[2019-12-16 17:21] #224 closed

[2019-12-16 19:45] #104 closed

[2019-12-23 18:28] OrBin commented on #252
Closed in #257

[2019-12-23 18:28] #252 closed

[2019-12-30 19:04] OrBin commented on #190
Turns out that there's no more shared/duplicate functionality apart from uploading to S3, but it's OK since it's not a lot of code.

[2019-12-30 19:04] #190 closed

[2019-12-30 19:06] OrBin commented on #161
All the subtasks are done, so I'm closing this "parent" issue.

[2019-12-30 19:06] #161 closed

[2019-12-30 19:40] OrBin commented on #103
Closing the issue, since it's not so necessary, and not worth our focus and work.

[2019-12-30 19:40] #103 closed

[2019-12-31 19:26] TheFrok commented on #239
I think I might misunderstood this issue.
The intention was to add a new column with the with the trip id in the format it appears in the `TripIdToDate` (seems it contains just the first number, before the `_`)
Or to add more information from the `TripIdToDate` file?

@cjer

[2019-12-31 20:07] cjer commented on #182
@EyalBerger
Can we close this now?

[2019-12-31 20:16] cjer commented on #239
You got it right.  Just notice that it is not the same ID as the GTFS `trid_id`. GTFS `trip_id`s repeat themselves between weekdays (the ID will be the same Sunday, Monday, Tuesday etc... as long as the service is repeated). The IDs in `TripIdToDate` are unique and don't repeat between weekdays.  These IDs  are also the ones that (should) match SIRI records.

From MoT's documentation:
![image](htt

[2019-12-31 20:19] #123 closed

[2019-12-31 20:19] EyalBerger commented on #182
Yes.
As part of the bus-only lane analyze I made some improvements in SplunkUtils. When it's will be ready for upload, I'will also update the Getting started notebook, including this point.

[2019-12-31 20:19] #182 closed

[2020-01-10 09:15] TheFrok opened #303 "Change columns types return from partridge"
partridge returns the columns type according to the GTFS spec, but in our case some improvemnts can be made. For example `route_id` returns as an `str` column, but can be turned into `int`.

[2020-01-10 10:07] TheFrok commented on #239
Some rows are duplicated in every aspect except TripIdToDate.
For example:

(from the TripIdToDate of 2019-03-07)

@cjer  what do you think we should do with that? Just insert both of them?

[2020-01-10 15:09] cjer commented on #239
It looks like the `route_id` is different, doesn't it?

[2020-01-10 15:48] cjer commented on #239
OK I think it is actually valid - two different trips of the same route that start on the same hour (its a school line).
We need to keep both of them. We're just left with the issue of what GTFS trip to join with.
Maybe sort both by trip_id and then join these by their order?

[2020-01-12 13:21] TheFrok commented on #239
So the lower `trip.trip_id` will get the lower `TripIdToDate.trip_id` and the higher one will get the higher one?
Seems fine to me

[2020-01-14 15:18] TheFrok commented on #239
@cjer I continued what we did yesterday and found 4 `route_id`s that are duplicated in trips:
`['12032', '12607', '14819', '9447']`
trip_ids for `12607` for example `36469559_070319 , 36469564_070319` (These are for 09:00)
This is the only line from the `TripIdToDate`:
`12607,10982,1,#,01/02/2019 00:00:00,01/01/2200 00:00:00,36469563,5,09:00,`
(Again all the that is based on gtfs from 2019-03-07)

[2020-02-18 12:51] TheFrok opened #307 "Parse SIRI csv output into aggregated trips"
A functionality that would parse the SIRI output files from S3 into objects that represent individual trips.
Each object should contain the route info + trip info + GPS data from siri.
These object should support later aggregation of splitted rides and will be upload to our future chosen database.

[2020-02-18 16:57] evyatark commented on #307
I would like to help working on this issue

[2020-02-18 17:32] cjer commented on #307
Edited the issue swapping "trip" for "ride". We use "ride" for SIRI to avoid confusion with GTFS "trips", and since they do not designate the same thing (a ride could be a bus just standing still at the repair-shop for example or driving in some random place towards its next trip, and these should not be considered relevant trips of a route).

[2020-02-19 13:24] cjer commented on #307
I went over some past issues and many are related / overlapping.
This should rely on the work in #174 and is part of #270 (which needs to be updated accordingly).
This also replaces parts of #243, which I think we should close and split. That one is also part of a SiriSplunkToMongo milestone which we probably want to update.

[2020-02-19 13:29] #183 closed

[2020-02-19 15:07] #239 closed

[2020-04-06 15:44] EyalBerger opened #315 "SiriRide calculated attributes - v1"
Following our last discussions and the restarting of SiriRide entity task ,creating this issue for listing planned SiriRide calculated attributes (v1).

I have separated them into different classes according to their complexity:
* Class 1: SiriRide Raw data.
* Class 2: Simple calculations over Siri data.
* Class 3: Simple calculations over GTFS data.
* Class 4: Complex calculations - ride level.
*

[2020-04-06 19:04] evyatark commented on #315
I think we should add the attribute "makat number", in addition to agency_id, route_id, route_short_name.

[2020-04-07 09:20] cjer commented on #315
Some thoughts and fields I think we also need:
- Where in your classification do you put the estimated time at each stop?
- Time of first and last record (as opposed to departure and arrival times)
- Time of first and last record that had actual lat,lon (not 0.0,0.0)
- Fields about where are the missing stops (start, end or mid of the trip)
- Did the bus go back and forth or loop (arrive at a poin

[2020-04-08 15:03] AvivSela commented on #315
1. we could also have class for siri-ride that have multiple siri-records (with date time and lat-lon attributes), it could be easier to have one list than two.
2. what do you say about merge together the planned_start_date and time?
3. in case we are going to have those 2 classes (siri-ride and siri-record) we could have in each of them "analytics" member that holds dictionary with all the metric

[2020-04-10 12:28] adiwaz commented on #315
I like the idea of dividing the variables into complexity classes.
My suggestions/comments:
1. I think we should classify each variable by 2 criteria:
    1. Data needed (siri ride only, gtfs, etc.)
    2. Data Science work needed (e.g. straightforward aggregation vs statistical model required)
1. I don't understand the difference between complex calculations (class 4) and models (class 6). I pref

[2020-04-10 13:40] adiwaz commented on #315
@AvivSela - I didn't understand your suggestion in (1), what is the purpose of each class? Why should they be separated?
Regarding (2) - I think that merging the date and time can hurt efficiency of indexing. Maybe we would like to index the date and not the time.

[2020-04-10 15:19] adiwaz opened #316 "Dynamic windows per route for SIRI retrieval"
## Goal
Create a logic to dynamically define per route id the best combination of length and number of SIRI retrieval windows, and integrate this logic in the timed process after GTFS read and stats.

## Background
Our SIRI retrieval method query the last stop of every route with default of 12-16 5-mins windows, in order to get GPS points of all currently driving busses in this route, and not only

[2020-04-10 21:30] AvivSela commented on #315
1. It's more easy to loop them:
[code]
Vs.
[code]
2. it's less error prone in case we will need to add new record that should be splitted to two and insert into the same index in both list.
3. it's more easy to sort in case of modifications.

[2020-04-12 07:38] evyatark commented on #316
see explanation of current mechanism in
https://github.com/hasadna/open-bus/blob/siri-retriever-dev/siri/siri_retriever/siri-0.1/README.md

[2020-04-14 09:24] EyalBerger commented on #315
Thanks you all for your comments and insights!

 I updated the design following it.

The variables list became too long so I ended up opening a design doc for it. Please see [here](https://github.com/hasadna/open-bus/blob/create-siri_ride_data_design.md/siri_ride_project/siri_ride_data_design.md).

In summary:
1. I added most of the suggested variables (see exceptions in the "open issues" section

[2020-04-15 18:55] EyalBerger commented on #315
Following 15/4 Zoom meeting, some required updates in the data design:
- We will need to mention which variables based directly on Siri or GTFS and which based solely on other SiriRide variables (@EyalBerger)
- Data types: We should add data types.
- Naming: We will need to make sure that variables names are as they are in siri sources, e.g "service_id" is "trip_id_to_date". Who is familiar with s

[2020-04-21 17:07] EyalBerger commented on #315
I added data types and update dependencies (when variable based directly on Siri or GTFS) to the data design.

[2020-05-04 14:36] cjer opened #319 "Update to new SIRI addresses"
MOT just launched its new realtime data center. Documentation docs attached.
As I understand, as a first step we just need to change the address and credentials to the new ones and all stays the same with SIRI version 2.7.

Next step will be to test the queries of the new 2.8 interface and plan the move to it.
[ICD_SM_2_8_ver25.pdf](https://github.com/hasadna/open-bus/files/4575265/ICD_SM_2_8_ver2

[2020-05-04 14:40] cjer opened #320 "Initial checks for update to SIRI 2.8"
With the new AllActiveTripsFilter and AllActiveTripsFilter we should be able to ditch the elaborate queries we currently build using the GTFS config (maybe this should put #316 on hold?)

Documentation is in #319

Steps -
- Perform queries and save results with the new API endpoint in 30/60 second intervals (they update every 30 seconds), for a long enough period.
- Compare results with our curren

[2020-07-06 09:34] shirmani commented on #34
היי זאת שיר

[2020-07-11 19:17] AvivSela opened #330 "Data stream: SIRI parser with SQLite cache"
SIRI parser is responsible to parse SIRI records from SIRI log and group them to rides. the basic parser implemented with cache in memory but since the SIRI logs in one day is about 1G there is a need for more scalable solution of cache on disk.

I choose to implement it with SQLite since it is well known and uses a single file on disk.

[2020-07-11 19:37] #330 closed

[2020-09-29 16:28] cjer commented on #320
This is has been up and running on the server using a bash script, running a query every 30 seconds and saving to S3

[2020-09-29 16:29] #319 closed

[2020-09-29 16:37] #276 closed

[2020-10-18 19:50] AvivSela commented on #315
Hi,
I looked at SIRI 2.8. it might take some time but we will get there. there are some more fields there that come "free of charge" without the need to calculate them. Here is example of the JSON format:
[ICD_SM_2_8_ver25.pdf](https://github.com/hasadna/open-bus/files/4575265/ICD_SM_2_8_ver25.pdf)

[code]

If im taking those fields combine them into one object that represent a ride that have list

[2020-11-01 21:19] #210 closed

[2020-11-01 21:19] #209 closed

[2020-11-01 21:19] #208 closed

[2020-11-01 21:19] #198 closed

[2020-11-01 21:20] #186 closed

[2020-11-01 21:22] #207 closed

[2020-11-01 21:22] #193 closed

[2020-11-01 21:22] #195 closed

[2020-11-01 21:22] #196 closed

[2020-11-01 21:23] #118 closed

[2020-11-01 21:23] #79 closed

[2020-11-01 21:23] #78 closed

[2020-11-01 21:23] #77 closed

[2020-11-01 21:24] #75 closed

[2020-11-01 21:24] #73 closed

[2020-11-01 21:24] #117 closed

[2020-11-01 21:24] #80 closed

[2020-11-01 21:24] #76 closed

[2020-11-01 21:25] #144 closed

[2020-11-01 21:26] #173 closed

[2020-11-01 21:26] #156 closed

[2020-11-01 21:26] #162 closed

[2020-11-01 21:26] #155 closed

[2020-11-01 21:26] #151 closed

[2020-11-01 21:28] #139 closed

[2020-11-01 21:29] #265 closed

[2020-11-01 21:29] #267 closed

[2021-06-28 07:11] OriHoch opened #335 "[epic] Stride - full architecture implementation"
Implement the full architecture of Stride project as detailed in the spec: https://docs.google.com/document/d/1LcGlK0BfJ2C2jE0O0oDBjeidG8KfdNMpGH_bMskdrOc/edit?usp=sharing

[2021-06-28 07:11] OriHoch opened #336 "[epic] Stride - arrival times API / report"
Provide an API and/or report showing arrival times according to the spec: https://docs.google.com/document/d/1ShKVcPPpMBsCpNtAkz05tdGZuXr0ka4euDTjK2IBB5g/edit?usp=sharing

[2021-06-28 07:17] OriHoch opened #337 "Stride - implement airflow server for manual / low frequency etl jobs"
Currently, the SIRI processing jobs ([siri requester](https://github.com/hasadna/open-bus-siri-requester), [siri etl](https://github.com/hasadna/open-bus-siri-etl)) are high frequency (every minute) and run as daemons

We also need an Airflow server which will allow to trigger the processing jobs manually and for less frequent processing jobs.

For example - it should be possible to trigger siri r

[2021-06-28 07:20] OriHoch opened #338 "Stride - define and document methodology for adding data enrichment ETL + Database fields/tables"
Need to have good documentation with examples for how to add data enrichment ETL and database fields/tables

Part of epic: https://github.com/hasadna/open-bus/issues/335

[2021-06-28 07:24] OriHoch opened #339 "Stride - GTFS ETL"
We should have all the GTFS data available in the Stride DB, so we can join it with the SIRI data

See the detailed spec for more details: https://docs.google.com/document/d/1LcGlK0BfJ2C2jE0O0oDBjeidG8KfdNMpGH_bMskdrOc/edit?usp=sharing

The ETL should load the GTFS data + update relevant Stride tables with the data according to the spec

**Implementation notes**

* Should be in a new repository (`

[2021-06-28 07:27] OriHoch opened #340 "Stride - REST API"
Should provide a REST API that will expose the Stride data in a structured way

See spec for more details: https://docs.google.com/document/d/1LcGlK0BfJ2C2jE0O0oDBjeidG8KfdNMpGH_bMskdrOc/edit?usp=sharing

**Implementation Notes**

* Should be in a new repository (`open-bus-stride-api`)
* I'm used to using [Flask](https://flask.palletsprojects.com/en/2.0.x/), but open to suggestions to use other fr

[2021-06-28 07:28] OriHoch commented on #335
components:
- [x] Siri requester, storage, compressor - https://github.com/hasadna/open-bus-siri-requester
- [x] Siri ETL - https://github.com/hasadna/open-bus-siri-etl
- [x] Airflow server for manual / low frequency jobs - https://github.com/hasadna/open-bus/issues/337
- [x] Data enrichment ETL - https://github.com/hasadna/open-bus/issues/338
- [ ] GTFS ETL - https://github.com/hasadna/open-bus/i

[2021-06-28 20:50] AvivSela commented on #340
i would like to suggest to use[ FastAPI](https://fastapi.tiangolo.com/features/) instead. this framework become popular and provide out of the box open api documentation page that synced with the implementation of the API - so when we will change/add/remove fields - the documentation will update accordingly (less maintenance effort for us)

[2021-06-29 05:39] OriHoch commented on #340
yes, FastAPI sounds good

[2021-07-05 14:45] OriHoch commented on #337
done - https://open-bus-airflow.hasadna.org.il/

https://github.com/hasadna/open-bus-pipelines

[2021-07-05 14:45] #337 closed, assigned to OriHoch

[2021-07-12 21:21] AvivSela opened #341 "[STRIDE] GTFS ETL will Support uploading historic GTFS data to DB"
The current GTFS ETL process downloads the up to date GTFS files from MOT FTP, and process the current date. this feature will allow us to download GTFS files from our S3 archive and load historic data into our DB

[2021-07-26 19:30] OriHoch commented on #338
implemented stride-etl + connection to airflow

TODO: document it and document how to add DB fields/tables

[2021-08-02 11:16] #338 closed, assigned to OriHoch

[2021-08-02 11:17] OriHoch opened #342 "Stride - DB archiver / deleter + add support for processing from archive"

[2021-08-10 22:07] AvivSela commented on #339
Documentation could be found here: https://github.com/hasadna/open-bus-gtfs-etl/wiki

As part of this task i created a simplified version of gtfs-stat script that just get a date and GTFS files and return trips and routes stat for the given date.

Here is the signature of the main function:
https://github.com/hasadna/open-bus-gtfs-etl/blob/main/open_bus_gtfs_etl/gtfs_stat/gtfs_stats.py
[code]

[2021-08-10 22:07] #339 closed, assigned to AvivSela

[2021-08-15 09:43] OriHoch opened #343 "stride gtfs etl: should have runnable tasks that can be used via Airflow"
I made some changes to integrate the [open-bus-gtfs-etl](https://github.com/hasadna/open-bus-gtfs-etl) with the rest of the stride project and with the Airflow server

Currently, looks like the gtfs-etl has all the required components but we need to package it as runnable tasks which can be scheduled daily on Airflow

requirements:

* Have a task or series of tasks which can be run without any par

[2021-08-15 13:14] OriHoch opened #344 "open-bus-gtfs-etl: analyze_gtfs_stat command uses too much RAM"
Looks like the [analyze_gtfs_stat function](https://github.com/hasadna/open-bus-gtfs-etl/blob/main/open_bus_gtfs_etl/api.py#L40) loads all data to RAM, this uses a huge amount of RAM which can get very expensive. Please see if you can instead process row-by-row. If you need to refer to processed data then I suggest to use [kvfile](https://github.com/akariv/kvfile/blob/master/README.md) for simple

[2021-08-15 13:17] OriHoch opened #345 "gtfs-etl: running analyze-gtfs-stat results in error"
**reproduction steps**

* Follow the [README for local development](https://github.com/hasadna/open-bus-gtfs-etl#development-using-local-python-interpreter)
* Download gtfs data:
[code]
* Run the analyze-gtfs-stat command:
[code]

**expected**
* exits successfully

**actual**
* error:
[code]

[2021-08-15 13:29] OriHoch opened #346 "gtfs-etl: add documentation to the code"
Please have all [documentation](https://github.com/hasadna/open-bus-gtfs-etl/wiki) as part of the code, as they are related and updated together

Curretnly, I think not much more detail is availble in docs, so nothing needs to be changed, maybe just update the CLI commands help messages

I updated the README to conform to the other stride repos to include all relevant details for using with Docker

[2021-08-15 13:29] OriHoch commented on #346
# Installation
1. Clone both repositories: open-bus-gtfs-etl and open-bus-stride-db:

    * `git clone https://github.com/hasadna/open-bus-gtfs-etl.git`

    * `git clone https://github.com/hasadna/open-bus-stride-db.git`

1. Create virtual environs and activate it:

    * `python3.8 -m venv open-bus-gtfs-etl/venv`

    * `. open-bus-gtfs-etl/venv/bin/activate`

1. Install requirement packages and

[2021-08-15 13:30] OriHoch commented on #346
I disabled the wiki feature, copied the page here for reference ^

[2021-08-15 15:10] OriHoch commented on #344
check out if we need aggregations / if we can load data directly to DB / split loading processes to e.g. load_stops / load_routes ...

[2021-08-15 22:39] AvivSela commented on #345
solved by: https://github.com/hasadna/open-bus-gtfs-etl/pull/5

[2021-08-15 22:39] #345 closed, assigned to AvivSela

[2021-08-18 06:30] AvivSela commented on #343
- we agreed on 3 tasks:

    1. Download the daily gtfs data and store in a directory structure (e.g. gtfs_data/YEAR/MONTH/DAY)
    2. Analyzing  the daily gtfs data and store in a directory structure (e.g. stat_data/YEAR/MONTH/DAY)
    3. Load analyzed data into database.

- environment variable: "**GTFS_ETL_ROOT_ARCHIVES_FOLDER**" will be used to get root folder for the gtfs and stat archives.

[2021-08-19 06:03] OriHoch commented on #343
tasks 2 and 3 should accpet a parameter which specifies the year/month/day to work on (by default - last year/month/day)

[2021-08-24 08:37] OriHoch commented on #340
I'll take this issue because it is blocking other tasks

[2021-08-24 14:18] OriHoch commented on #340
done -
https://open-bus-stride-api.hasadna.org.il/docs
https://github.com/hasadna/open-bus-stride-api

[2021-08-24 14:19] #340 closed, assigned to OriHoch

[2021-08-24 14:29] cjer commented on #340
Looks awesome! Oh how I love fastapi :)

[2021-10-09 23:56] AvivSela commented on #346
i added new section about the 3 operations the app should support and about the env. variables that the app using.
https://github.com/hasadna/open-bus-gtfs-etl#supported-operations-and-configurations

[2021-10-09 23:56] #346 closed, assigned to AvivSela

[2021-10-09 23:59] AvivSela commented on #343
i added the 3 tasks. Documentation about them added to the Readme file:
https://github.com/hasadna/open-bus-gtfs-etl#supported-operations-and-configurations

[2021-10-09 23:59] #343 closed, assigned to AvivSela

[2021-10-10 13:29] OriHoch commented on #343
@AvivSela completed the integration with airflow

dag is now running daily

data is available at https://open-bus-gtfs-data.hasadna.org.il/

[2021-10-11 16:56] OriHoch opened #347 "add alerts for siri requester"
* expose an http page which return an OK status when there is SIRI snapshot in the storage for last minute
* add a monitoring service on this page which alerts when status is not OK

[2021-10-12 07:49] OriHoch commented on #347
done:
* health check page:
  * https://open-bus-siri-requester.hasadna.org.il/health
  * checks seconds since last snapshot, if more then 120 seconds page returns status code 500
* added a statuscheck uptime check that monitors this page every 1 minute and alerts hasadna devops team

relevant code changes:
* https://github.com/hasadna/open-bus-siri-requester/pull/2
* https://github.com/hasadna/ope

[2021-10-12 07:49] #347 closed, assigned to OriHoch

[2021-10-17 11:44] OriHoch opened #348 "check why there is a duplicate stop"
following query returns 2 stop items for the same stop code and validity date (gtfs=true)

this should not happen, need to see why it happens

https://open-bus-stride-api.hasadna.org.il/stops/list?valid_for_date=2021-10-16&code=32891

[2021-10-17 12:00] AvivSela commented on #348
do you have more details about the scenario?

[2021-10-17 12:10] OriHoch commented on #348
no, I just see this in the DB, the rows are with gtfs=true so they are generated from the gtfs etl process

[2021-10-18 07:13] OriHoch opened #349 "check duplicate ride.journey_ref"
### reproduction steps
* https://open-bus-stride-api.hasadna.org.il/rides/list?journey_ref_prefix=24564655_161021&is_from_gtfs=true&scheduled_start_time_from=2021-10-15T00%3A00%3A00

#### expected
* A single ride per journey_ref

#### actual
* 2 rides
* the second ride has journey ref suffix `_161021` - but scheduled start time date of `2021-10-17`

[2021-10-19 06:40] OriHoch opened #350 "add retry mechnism to stride-gtfs-etl download step"
## reproduction steps
* Run the download step but have a failure due transient networking problems
* for example: https://open-bus-airflow.hasadna.org.il/log?dag_id=gtfs-etl&task_id=download&execution_date=2021-10-18T00%3A00%3A00%2B00%3A00

### expected
* should retry the download a configurable number of times with configurable delay between each try

### actual
* fails

[2021-10-20 01:49] AvivSela commented on #348
https://github.com/hasadna/open-bus-gtfs-etl/pull/12

[2021-10-20 06:49] OriHoch opened #351 "investigate error in stride gtfs-etl analyze step: TypeError: sequence item 0: expected str instance, float found"
https://open-bus-airflow.hasadna.org.il/log?dag_id=gtfs-etl&task_id=analyze&execution_date=2021-10-19T00%3A00%3A00%2B00%3A00

[code]

[2021-10-20 06:57] AvivSela commented on #351
My last pr fix it too. רכבת ישראל started to pass nan value for some fields.

[2021-10-20 07:01] OriHoch commented on #351
https://github.com/hasadna/open-bus-gtfs-etl/pull/12

great, thanks, please mention it on the PR

keeping issue open until the PR is merged

[2021-11-04 18:17] adiwaz opened #352 "Data queries to be added to MVP API"
**Below is a prioritized list of data queries that we believe to be basic and important as part of an API MVP.**
Please edit/comment to include missing queries and re-prioritize.

**The guiding principles** to determine query's priority are: how basic and simple it is (e.g., could it be performed with the database raw tables and columns?), how relevant it is for data quality checks, how relevant i

[2021-11-14 06:46] evyatark opened #353 "Swagger link to API does not work"
the link https://open-bus-stride-api.hasadna.org.il/docs returns
503 Service Temporarily Unavailable
(for at least 5 days now)

[2021-11-14 08:02] OriHoch commented on #353
thanks, I made some substantial changes last week to the DB structure which broke the API, I will try to fix it today/tomorrow

[2021-11-14 13:22] OriHoch commented on #353
fixed https://open-bus-stride-api.hasadna.org.il/docs

[2021-11-14 13:22] #353 closed, assigned to OriHoch

[2021-11-17 17:18] AdlerShay opened #354 "Multiple routes created for line refs with same data each day"
{
    "id": 588220,
    "min_date": "2021-11-06",
    "max_date": "2021-11-06",
    "line_ref": 11692,
    "operator_ref": 16,
    "siri_published_line_name": null,
    "gtfs_route_short_name": "1",
    "gtfs_route_long_name": "מרכזית הקריות-קרית ים<->ת. מרכזית חוף הכרמל/רציף לילה ושבת-חיפה-27",
    "gtfs_route_mkt": "83001",
    "gtfs_route_direction": "2",
    "gtfs_route_alternative": "7",

[2021-11-23 07:18] OriHoch commented on #354
thanks!

[2021-11-23 09:23] OriHoch commented on #352
I think we should focus on user stories, and then determine what is needed to answer them

there is no point to provide a full database access, the team can access the DB directly and run SQL queries. The API should provide aggregated/ digested data according to required user stories.

[2021-11-28 07:55] OriHoch commented on #350
@AvivSela this issue is done?

[2021-12-08 16:37] EyalBerger opened #355 "Adding siri_ride_id to siri_vehicle_location table"
Following the schema change (siri and gtfs separation), it's now not possible to join bus locations with siri ride directly. Could siri_ride_id be added to siri_vehicle_location table?

[2021-12-08 16:46] OriHoch commented on #355
it can be joined via siri_ride_stop table, for example the following query gets all vehicle locations of a given journey_ref:

[code]

[2021-12-08 17:06] EyalBerger opened #356 "Error when using Python API"
I've copied the cells from the [example notebook](https://hub.gke2.mybinder.org/user/hasadna-open-bus-stride-client-it1mquxw/doc/tree/notebooks/Load%20route%20rides%20to%20dataframe.ipynbl) but I am getting this error when trying to query the database -
![image](https://user-images.githubusercontent.com/42667498/145251317-aab64a27-9fed-4fc9-880e-8d99d9b70528.png)

Do you know what could I do to ma

[2021-12-08 17:19] OriHoch commented on #356
the bug is not reproduced for me, looks like it gets some invalid response from the API, I will create an issue to have relevant details in the error message

regarding the import pands - it's standard usage to do `import pandas as PD` and then refer to pandas as `PD` - I believe pandas documentation itself uses it this way.

[2021-12-08 18:26] OriHoch commented on #356
I added more error details, please try again with latest client and post the error you get here

if you are running locally upgrade using `pip install --upgrade open-bus-stride-client`

[2021-12-15 15:23] AvivSela commented on #349
@OriHoch, the link returns error traceback, could you provide more details?

[2021-12-15 15:25] AvivSela commented on #351
i see this one already merged. im closing the issue. if it happen again, let's open it.

[2021-12-15 15:25] #351 closed, assigned to AvivSela

[2021-12-15 15:29] AvivSela commented on #350
yes

[2021-12-15 15:29] #350 closed, assigned to AvivSela

[2021-12-15 15:57] OriHoch commented on #351
fixed + merged in this PR: https://github.com/hasadna/open-bus-gtfs-etl/pull/13

[2021-12-15 15:58] OriHoch commented on #349
assigning to me to check it

[2021-12-15 16:28] AvivSela opened #359 "changing paradigm for uploading data to Sride"
in the beginning, we request to be able to re/upload data for a specific date in the past. I think we should rethink that request that makes our solution more complicated than it has to. I think a better assumption is that in case we will need to re/upload data for a specific date we will reprocess all the dates from that date until today.

Most of the cases that we thought about them in the plann

[2021-12-16 06:35] OriHoch commented on #359
in your example - if we execute Stride on Sunday and on Friday, we will have 2 records - one for Sunday and one for Friday, we shouldn't assume it had the same data for all the intermediate dates too..

[2021-12-16 06:39] OriHoch commented on #359
There are some important advantages to being able to run on past dates:
* we can reprocess dates while keeping all the data available. If we don't allow past dates we will have to delete all data to reprocess, that means the whole system will be offline for the duration of the reprocessing (which could take a long time, even days if we have a lot of data)
* it prevents the possibility of parallel

[2021-12-16 07:25] OriHoch opened #360 "remove min_date/max_date fields and have a single date field"
following discussions on #359 and PR hasadna/open-bus-gtfs-etl#12 it seems there are too many problems and implementation complexity with the requirement to have min_date/max_date fields on the gtfs data

To reduce complexity we will remove this requirement for now

### To Do:
* change all gtfs DB tables - remove min_date/max_date fields and add a single date field
* change gtfs-etl process to cre

[2021-12-16 07:26] OriHoch commented on #360
assigning to @AvivSela and setting to In progress because it should be done as part of the currently in progress task to remove duplicate stops

[2021-12-16 08:00] OriHoch commented on #359
closing this issue as we will reduce the complexity by removing min_date/max_date fields (#360)

[2021-12-16 08:00] #359 closed, assigned to AvivSela

[2021-12-16 08:00] OriHoch commented on #360
@AvivSela I will implement the DB changes

[2021-12-19 13:52] AvivSela commented on #360
so, are we going to duplicate the data for each date even it won't be modified?
in case I uploaded stop, and tomorrow the stop is the same, should we upload it again?

[2021-12-19 13:57] OriHoch commented on #360
yes, each record will be valid for a single date specified in the `date` field

[2021-12-19 14:02] OriHoch commented on #360
I will try to have the DB changes ready today / tomorrow

[2021-12-19 15:04] OriHoch commented on #360
DB changes are done and merged, I renamed all the tables to have gtfs prefix to make it clear these tables are only used for gtfs data - https://github.com/hasadna/open-bus-stride-db/pull/7

[2021-12-19 22:01] EyalBerger commented on #355
Yes, I figured out it could be joined vie stops, but logically the locations are connected with the rides, and this it going to be one of the most common joins we will perform. The merge via stops is not straight forward, but yet - as you mentioned - possible.

[2021-12-19 22:07] EyalBerger commented on #356
Great! I've upgraded it and now it's works, thank you.

about the pandas point - I meant the code in the example isn't aligned - we "import pandas" (without as pd) but consume PD later on in the code. It isn't so important, just suggesting to align it.

[2021-12-19 22:25] EyalBerger opened #361 "siri_rides/list functions' results seems to be not aligned with the parameters"
Hi,
Maybe I am missing something, but isn't it weird there are multiple "route_id"s at the output, while we requested for a single "route_id" on the parameters section? it's same when we query with "get"

![image](https://user-images.githubusercontent.com/42667498/146692823-4ed4bdb9-3f64-4e03-8b21-78263d6c14bc.png)

[2021-12-20 07:20] OriHoch commented on #355
we should keep the database structure [normalized](https://en.wikipedia.org/wiki/Database_normalization), we can add database views / API methods / Python functions to make using it easier

[2021-12-20 07:22] OriHoch commented on #356
the notebook does `import pandas as PD` - https://github.com/hasadna/open-bus-stride-client/blob/main/notebooks/Load%20route%20rides%20to%20dataframe.ipynb

[2021-12-20 07:28] OriHoch opened #362 "open-bus-stride-api should return an error if an unknown argument is used"
see #361 - the cause of that bug is that wrong argument name was used

the API should return an error if an unknown argument is used to prevent such bugs

[2021-12-20 07:29] OriHoch commented on #361
[fixed](https://github.com/hasadna/open-bus-stride-client/commit/8186fe2ae7629fd45c4fe9a405ee1735e7d3e36e)

the argument name was wrong - it should have been `siri_route_ids` instead of `route_ids`

I opened an issue to have the API raise an exception in case of unknown argument - #362

[2021-12-20 07:29] #361 closed, assigned to OriHoch

[2021-12-22 14:07] OriHoch opened #363 "write an example of getting all arrivals to all stops of a given line in a given day"

[2021-12-23 19:24] EyalBerger commented on #356
great. Closing this issue

[2021-12-23 19:24] #356 closed, assigned to EyalBerger

[2021-12-23 19:28] EyalBerger commented on #355
Sure, so closing this issue.

[2021-12-23 19:28] #355 closed, assigned to EyalBerger

[2021-12-26 08:31] OriHoch commented on #363
done - https://github.com/hasadna/open-bus-stride-client/blob/main/notebooks/getting%20all%20arrivals%20to%20all%20stops%20of%20a%20given%20line%20in%20a%20given%20day.ipynb

[2021-12-26 08:31] #363 closed, assigned to OriHoch

[2022-01-13 07:31] AvivSela commented on #360
the changes in the GTFS ETL about the schema change are included in the pr (hasadna/open-bus-gtfs-etl#12) that was opened for #348

[2022-01-13 07:35] AvivSela commented on #348
re-assign this task to Ori, for a review.

[2022-01-13 07:39] AvivSela commented on #354
this issue should be resolved by hasadna/open-bus-gtfs-etl#12
please verify.

[2022-01-18 06:38] OriHoch commented on #348
fixed in https://github.com/hasadna/open-bus-gtfs-etl/pull/12 and https://github.com/hasadna/open-bus-gtfs-etl/pull/15

[2022-01-18 06:38] #348 closed, assigned to OriHoch

[2022-01-18 06:39] #360 closed, assigned to OriHoch

[2022-01-18 06:40] OriHoch commented on #354
fixed in hasadna/open-bus-gtfs-etl#12 and hasadna/open-bus-gtfs-etl#15

[2022-01-18 06:40] #354 closed, assigned to OriHoch

[2022-01-18 06:40] OriHoch commented on #344
fixed in hasadna/open-bus-gtfs-etl#15

[2022-01-18 06:40] #344 closed, assigned to AvivSela

[2022-01-18 06:40] OriHoch commented on #349
fixed in hasadna/open-bus-gtfs-etl#12 and hasadna/open-bus-gtfs-etl#15

[2022-01-18 06:40] #349 closed, assigned to OriHoch

[2022-01-18 06:44] OriHoch opened #364 "stride client: update getting all arrivals notebook with latest gtfs data"
now that we have gtfs data, we should be able to answer this question:

אני רוצה לדעת מתי קו 360 מאפרת לירושלים הגיע לכל אחת מן התחנות שלו בבוקר של 20.12.2021

update the getting all arrivals notebook to answer this question

[2022-01-18 07:19] OriHoch opened #365 "open-bus-gtfs-etl: allow to run multiple processes for different dates in parallel"
currently, the gtfs etl processes uses a workdir which prevents processes for different dates to run in parallel, need to remove this limitation

this is important because currently there is a risk that if 2 processes will run on different dates they will produce wrong data

[2022-01-18 08:59] OriHoch opened #366 "open-bus-siri-requester data should be available even if siri requester has an exception"
currently, if siri requester has an exception and enters a restart loop, the data will not be available because the nginx serving the data is in the same pod as the requester

need to split them to different pods so the data is available even if requester is not

[2022-01-18 09:01] OriHoch opened #367 "investigate problem with siri requester mot source"
seems like the MOT source is returning an empty response (Key was replaced in following output)

[code]

[2022-01-18 09:02] OriHoch commented on #367
Also, got following response once:

[code]

[2022-01-18 09:03] OriHoch opened #368 "siri requester should have better error handling and retry mechanism in case source data is not available"
currently, if source data is not available, siri requester daemon exits with exception and the pod enters a restart loop until it gives up

need to have better handling of this, so it retries until we get a response

[code]

[2022-01-18 10:44] OriHoch opened #369 "data processing should take into account whether siri snapshots were received for given date/time range"
### reproduction steps
* between 10:00 and 11:00 we didn't get any siri snapshots
* during that time, a bus ride started and finished but we don't know about it
* we then generate a report (e.g. actual vs. planned arrivale times to stations)

#### expected
* the report should indicate that we don't know what happened between 10:00 and 11:00

#### actual
* the report will show that the bus ride did

[2022-01-18 13:41] OriHoch commented on #367
transcript of mail exchange with MOT support:

<div dir=rtl>
הי, אנחנו (הסדנא לידע ציבורי) מקבלים כרגע תשובה ריקה ממשק siri

---

היה לנו עדכון אבטחה לשרתים, שגרר השבתה של שעה. כעת המערכת עובדת שוב

---

תודה, יש אפשרות לדעת על מקרים כאלה מראש?

האם יש דרך לשחזר את המידע שאבד בזמן שהממשק לא היה זמין? כרגע אנחנו דוגמים את הממשק כל דקה.

---

נשתדל להתריע מראש על השבתות.

בפעם הבאה, גם נאפשר היערכות

[2022-01-18 13:42] OriHoch commented on #368
in case siri source is not available we should try the "test" source - see comment - https://github.com/hasadna/open-bus/issues/367#issuecomment-1015423458

[2022-01-18 13:43] OriHoch commented on #367
siri source is available now

will implement according to suggestion in above comment in issue #368

[2022-01-18 13:43] #367 closed, assigned to OriHoch

[2022-01-19 12:45] OriHoch commented on #368
additional info from MOT:

<div dir=rtl>
בשלב הזה, אני מציע, שתבצעו ניסיון נוסף רק על מקרה של סטטוס http שגוי מסביבת הייצור

אכן המקרה של תשובה ריקה אינו טרווילי, אם כי גם לזה אפשר לנסות לתת מענה.

בתשובה של snapshot יש

"ResponseTimestamp":"2021-10-12T13:38:30+03:00"

אם הזמן שמתקבל הוא נניח יותר משתי דקות, אז זה אומר שלא בוצע תהליך יצירה של מידע חדש, ואז אפשר לבצע ניסיון לפניה לסביבת הייצור.

צר

[2022-01-25 11:00] OriHoch opened #370 "open-bus-gtfs-etl should keep full history of downloaded gtfs data"
Currently, the downloaded gtfs data is discarded after some time, we should keep this data long-term (on some cheap storage like S3)

[2022-01-25 11:04] OriHoch commented on #364
done, now updating with additional data to support finding vehicle locations nearest the gtfs stops

[2022-01-26 07:04] OriHoch opened #371 "check repeated stride DB errors"
latest logs:

[code]

[2022-01-26 09:09] OriHoch commented on #371
increased wal_size: https://github.com/hasadna/hasadna-k8s/commit/35c17f584771dc525581903182064ebaee77117e

[2022-01-26 09:09] #371 closed, assigned to OriHoch

[2022-01-26 13:49] OriHoch opened #372 "should have processes that calculate aggregations for past data"
currently, most aggregations processes calculate latest data / data from last day. we need processes that calculate aggregations for past data and make sure all past data has all aggregations. this process should also allow to re-calculate aggregations if logic is changed / bug is fixed.

[2022-01-26 13:52] OriHoch commented on #364
waiting for dag to finish running, then I can verify the added data and update api / client accordingly: https://open-bus-airflow.hasadna.org.il/graph?dag_id=stride-etl-siri-updates&execution_date=2022-01-26T13%3A34%3A30.755539%2B00%3A00

[2022-01-27 07:00] OriHoch opened #373 "check why open-bus-stride-etl siri update ride stops dags take so long even though most should already be updated"
because the dag runs every 1 hour, I assume it should take much less time on subsequent runs, ideally less then 1 hour. Need to see if it really only updates new ride-stops efficiently. Also, maybe we need to separate them to different dags so they all run in parallel to reduce time between runs

[2022-02-01 07:13] OriHoch opened #374 "should do periodical vacuuming / deleting of irelevant data in stride-db"
postgresql requires vacuuming to free-up disk space. When we delete a lot of data from stride db, either from the archive process or bulk updates the disk space is not released.

[2022-02-02 09:26] OriHoch opened #375 "update stride-etl-stats-collect task with latest data model including the gtfs data"

[2022-02-02 09:27] OriHoch opened #376 "stride-api: add api method which joins the data from multiple tables"

[2022-02-02 09:31] OriHoch opened #377 "siri-etl should have a queue system allowing to parallelize in case of backlog of snapshots to process (each snapshot takes ~1 minute to process)"

[2022-02-06 11:53] OriHoch commented on #364
done

[2022-02-06 11:53] #364 closed, assigned to nobody

[2022-02-08 08:22] OriHoch commented on #376
this method does it: https://github.com/hasadna/open-bus-stride-api/blob/main/open_bus_stride_api/routers/siri_ride_stops.py

[2022-02-08 08:22] #376 closed, assigned to OriHoch

[2022-02-08 08:22] OriHoch commented on #336
this notebook shows how to make the relevant API calls to do it: https://github.com/hasadna/open-bus-stride-client/blob/main/notebooks/getting%20all%20arrivals%20to%20all%20stops%20of%20a%20given%20line%20in%20a%20given%20day.ipynb

[2022-02-08 08:22] #336 closed, assigned to OriHoch

[2022-02-08 11:57] OriHoch commented on #365
done in hasadna/open-bus-gtfs-etl#18

[2022-02-08 11:58] #365 closed, assigned to OriHoch

[2022-02-09 12:18] OriHoch commented on #368
fixed in hasadna/open-bus-siri-requester#5

[2022-02-20 10:34] OriHoch commented on #370
https://github.com/hasadna/open-bus-gtfs-etl/pull/19

[2022-02-20 13:28] #370 closed, assigned to OriHoch

[2022-02-20 13:38] OriHoch commented on #366
https://github.com/hasadna/hasadna-k8s/commit/c5434e09a26325ca7233e29643c2c07a0face93e

[2022-02-20 13:38] #366 closed, assigned to OriHoch

[2022-02-20 14:07] OriHoch commented on #362
this option is currently not available in the api framework we are using and will be too hard to implement

it is in development so might be possible in the future: https://github.com/tiangolo/fastapi/pull/1297

[2022-02-27 20:25] EyalBerger opened #378 "Wrong parameter doesn't raise error"
I think the API should raise an error when a wrong parameter is used, as getting data back (without filtering) is confusing for users.

see example from siri_routes. I forgot the "s" in "operator_ref" but getting back wrong results instead of an error.

![image](https://user-images.githubusercontent.com/42667498/155898562-c0ad12c5-32a3-4ebf-bdfa-20b07d5de8eb.png)

[2022-02-27 20:30] EyalBerger opened #379 "Adding optional parameters function"
I think it would be very useful for users to have a function which returns the optional parameters of a list (siri_routes, gtfs_routs, etc.).

see example below - I am trying to use "date" parameter but I am getting wrong results. I am not sure why, but if I could easily see the optional parameters list, I could check if "date" is included there.

![image](https://user-images.githubusercontent.com

[2022-02-27 20:38] EyalBerger opened #380 "Limit parameter doesn't work for some queries"
It seems the "limit" parameter isn't working for some tables as siri_rides and siri_routes, and there is a default limit of 1000 results which can't be changed by the user. Could we add the an option to change the limit value?

![image](https://user-images.githubusercontent.com/42667498/155898999-74f7ec84-7a51-4ffd-9268-a88de93d9eb2.png)

[2022-02-27 20:48] EyalBerger opened #381 "siri_vehicle_locations doesn't includes siri_ride__id"
It seems the siri_ride__id is missing from the output

![image](https://user-images.githubusercontent.com/42667498/155899238-ad08b9e2-7164-4027-ab88-d9d4878ec860.png)

[2022-02-27 21:02] EyalBerger opened #382 "siri_vehicle_locations "limit" parameter doesn't limits properly"
Changing the limit value to 100 still retrieves 1000 results.

![image](https://user-images.githubusercontent.com/42667498/155899738-b21741fe-6e10-44b4-b087-c0479c0ee7ee.png)

[2022-02-28 07:19] OriHoch commented on #380
For list operations you should use the `list` method which seamlessly iterates over items and does accept a `limit` parameter.

https://github.com/hasadna/open-bus-stride-client#usage

The `get` method passes all params as-is to the underlying api, so you can add the limit argument as part of the params like this:

[code]

Also, the underlying API does not allow a limit of more then 1000 items, th

[2022-02-28 07:22] OriHoch commented on #379
all the api methods and parametes are documented in the api documentation: https://open-bus-stride-api.hasadna.org.il/docs#/gtfs/list__gtfs_routes_list_get

[2022-02-28 07:23] OriHoch commented on #378
duplicate of #362

[2022-02-28 07:23] #378 closed, assigned to OriHoch

[2022-03-01 06:44] EyalBerger commented on #379
Great, thanks!
Does this doc is getting updated automatically when adding new filters or we should pay attention to update it?

[2022-03-01 07:16] OriHoch commented on #379
It's updated automatically

[2022-03-01 09:01] OriHoch opened #383 "move stride-db to dedicated storage"
stride-db is using a lot of space on Hasadna's NFS server, we should move it to a dedicated storage so it won't affect other workloads on the cluster

[2022-03-01 16:59] EyalBerger commented on #379
Great. Closing this issue

[2022-03-01 16:59] #379 closed, assigned to OriHoch, EyalBerger

[2022-03-02 10:45] OriHoch commented on #383
done

[2022-03-02 10:45] #383 closed, assigned to OriHoch

[2022-03-05 21:25] EyalBerger commented on #380
Thanks! as you said - I've moved the 'limit' parameter and now it works properly. Closing this issue

[2022-03-05 21:25] #380 closed, assigned to OriHoch, EyalBerger

[2022-03-05 22:32] EyalBerger opened #384 "Wrong data type on parameter retrieves wrong results instead of raising an error"
Hi, I think this should also raise an error as the data type is wrong (time instead of date) , but it retrieves wrong results:

![image](https://user-images.githubusercontent.com/42667498/156901909-a153d7e4-5c55-4854-82b4-a50fbec43411.png)

[2022-03-05 22:35] EyalBerger opened #385 "Can't access siri br file"
![image](https://user-images.githubusercontent.com/42667498/156901940-a58f274b-2313-48b4-9d4b-914ca360ed18.png)

any idea what should I do?

I can access this specific link that you've shared with me: https://openbus-stride-public.s3.eu-west-1.amazonaws.com/stride-siri-requester/2022/03/01/07/00.br

[2022-03-06 05:28] OriHoch commented on #385
you need to replace the date/time placeholders:

* `yyyy` - year (four numbers)
* `mm` - month (two numbers)
* `dd` - day (two numbers)
* `HH` - hour (two numbers)
* `MM` - minutes (two numbers)